definitions/ai-gating-lab-evaluator__CM13VfPCeGYmXoCe.json
{
  "updatedAt": "2026-05-04T03:19:25.901Z",
  "createdAt": "2026-05-02T11:14:41.414Z",
  "id": "CM13VfPCeGYmXoCe",
  "name": "AI Gating Lab Evaluator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-gating-lab-evaluate",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "51e4b85d-0042-44d3-98eb-42d4fd92ee11",
      "name": "Webhook",
      "webhookId": "ai-gating-lab-evaluate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lUBq76JGBJQGYD8c",
          "name": "InsightsLm_Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $node['Webhook'].json.body || $node['Webhook'].json || {};\n\nconst title = String(body.title || 'Custom Idea').trim();\nconst ideaText = String(body.idea_text || body.ideaText || '').trim();\nconst source = String(body.source || 'custom');\nconst presetId = body.preset_id || body.presetId || null;\nconst ideaId = body.idea_id || body.ideaId || null;\nconst assessmentId = body.assessment_id || body.assessmentId || null;\n\nif (!ideaText) {\n  throw new Error('idea_text is required');\n}\n\nconst systemPrompt = `You are the Phase 0 gating analyst for an AI product strategy lab.\n\nYour job is to decide whether a product idea should be built with deterministic software, classical ML, a bounded LLM workflow, or an agentic system.\n\nYou must apply these frameworks exactly:\n\n1. Problem Taxonomy\n- Type I: Deterministic Execution (structured input + high specifiability)\n- Type II: Structured Inference (structured input + low specifiability)\n- Type III: Bounded Language Intelligence (unstructured input + high specifiability)\n- Type IV: Open-Ended Reasoning Workflow (unstructured input + low specifiability)\n\n2. DICE Framework\n- Determinism score: 1 to 5\n- Input Complexity score: 1 to 5\n- Cost of Error score: 1 to 5 where 1 = catastrophic and 5 = low-stakes\n- Economics score: 1 to 5\n- total must equal the sum of the four DICE scores\n\n3. Reliability-Stakes Matrix\nYou must classify the idea into one quadrant exactly:\n- High Reliability + Low Stakes\n- Low Reliability + Low Stakes\n- High Reliability + High Stakes\n- Low Reliability + High Stakes\n\n4. Route Recommendation\nPick the smallest viable solver:\n- Deterministic software\n- Classical ML scorecard\n- Single-LLM pipeline with validators\n- Agentic orchestration with a deterministic harness\n\n5. Final decisionLabel must be one of exactly:\n- REJECT\n- DEFER\n- APPROVE (Assistive)\n- APPROVE (Constrained Autonomy)\n- APPROVE (Autonomous)\n\n6. automationLevel must be one of exactly:\n- Deterministic only\n- Classical ML first\n- Assistive AI\n- Constrained autonomy\n- Autonomous agent\n\nScoring rules and philosophy:\n- Prefer Type I whenever feasible.\n- If a structured problem can be solved with explicit logic, reject AI in the decision path.\n- If the problem is structured but pattern-based, prefer classical ML over LLMs.\n- Use LLMs for bounded language tasks, and agentic systems only when multi-step reasoning and orchestration are genuinely necessary.\n- Be skeptical of AI solutionism.\n- Do not recommend more autonomy than the stakes allow.\n- The governance notes should be practical, specific, and tied to launch readiness.\n\nOutput rules:\n- Return valid JSON only.\n- Do not include markdown fences.\n- Keep the response crisp but concrete.\n- framework scores must be integers from 0 to 100.\n- governanceNotes must contain exactly 3 items.\n- taxonomy.type must be one of: Type I, Type II, Type III, Type IV.\n- taxonomy.title must match the chosen type.\n- route.solver, route.decisionLabel, and route.automationLevel must be internally consistent.\n- Include title and ideaText exactly as provided.`;\n\nconst userPrompt = `Evaluate this product idea using the article's Phase 0 gate.\\n\\nTitle: ${title}\\nSource: ${source}\\nPreset ID: ${presetId || 'none'}\\nIdea ID: ${ideaId || 'not provided'}\\nAssessment ID: ${assessmentId || 'not provided'}\\n\\nIdea:\\n${ideaText}`;\n\nreturn [{\n  json: {\n    title,\n    ideaText,\n    source,\n    presetId,\n    ideaId,\n    assessmentId,\n    systemPrompt,\n    userPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "d0789638-df45-4546-a57d-4649fac6b34d",
      "name": "Prepare Gate Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        0
      ],
      "id": "1e43f6a5-c4de-4584-b7dd-c0e953f763c7",
      "name": "AI Gate Evaluator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "98fc889a-2730-440f-80a1-46edb6ac6e85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"ideaText\": {\n      \"type\": \"string\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"taxonomy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"enum\": [\"Type I\", \"Type II\", \"Type III\", \"Type IV\"]\n        },\n        \"title\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"Deterministic Execution\",\n            \"Structured Inference\",\n            \"Bounded Language Intelligence\",\n            \"Open-Ended Reasoning Workflow\"\n          ]\n        },\n        \"reasoning\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"type\", \"title\", \"reasoning\"],\n      \"additionalProperties\": false\n    },\n    \"dice\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"determinism\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 5 },\n        \"inputComplexity\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 5 },\n        \"costOfError\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 5 },\n        \"economics\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 5 },\n        \"total\": { \"type\": \"integer\", \"minimum\": 4, \"maximum\": 20 }\n      },\n      \"required\": [\"determinism\", \"inputComplexity\", \"costOfError\", \"economics\", \"total\"],\n      \"additionalProperties\": false\n    },\n    \"reliability\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"requirement\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 5 },\n        \"stakes\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 5 },\n        \"quadrant\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"High Reliability + Low Stakes\",\n            \"Low Reliability + Low Stakes\",\n            \"High Reliability + High Stakes\",\n            \"Low Reliability + High Stakes\"\n          ]\n        },\n        \"strategy\": { \"type\": \"string\" }\n      },\n      \"required\": [\"requirement\", \"stakes\", \"quadrant\", \"strategy\"],\n      \"additionalProperties\": false\n    },\n    \"frameworks\": {\n      \"type\": \"array\",\n      \"minItems\": 5,\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"key\": { \"type\": \"string\" },\n          \"label\": { \"type\": \"string\" },\n          \"score\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n          \"summary\": { \"type\": \"string\" }\n        },\n        \"required\": [\"key\", \"label\", \"score\", \"summary\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"route\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"solver\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"Deterministic software\",\n            \"Classical ML scorecard\",\n            \"Single-LLM pipeline with validators\",\n            \"Agentic orchestration with a deterministic harness\"\n          ]\n        },\n        \"decisionLabel\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"REJECT\",\n            \"DEFER\",\n            \"APPROVE (Assistive)\",\n            \"APPROVE (Constrained Autonomy)\",\n            \"APPROVE (Autonomous)\"\n          ]\n        },\n        \"automationLevel\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"Deterministic only\",\n            \"Classical ML first\",\n            \"Assistive AI\",\n            \"Constrained autonomy\",\n            \"Autonomous agent\"\n          ]\n        },\n        \"reasoning\": { \"type\": \"string\" }\n      },\n      \"required\": [\"solver\", \"decisionLabel\", \"automationLevel\", \"reasoning\"],\n      \"additionalProperties\": false\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"buildRecommendation\": {\n      \"type\": \"string\"\n    },\n    \"governanceNotes\": {\n      \"type\": \"array\",\n      \"minItems\": 3,\n      \"maxItems\": 3,\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\n    \"title\",\n    \"ideaText\",\n    \"summary\",\n    \"taxonomy\",\n    \"dice\",\n    \"reliability\",\n    \"frameworks\",\n    \"route\",\n    \"conclusion\",\n    \"buildRecommendation\",\n    \"governanceNotes\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        224
      ],
      "id": "1aa6df84-2d82-4c42-9f09-94b0c2927430",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const prep = $node['Prepare Gate Prompt'].json;\nconst raw = $node['AI Gate Evaluator'].json.output || $node['AI Gate Evaluator'].json;\nconst result = raw.output && typeof raw.output === 'object' ? raw.output : raw;\n\nconst ensureArray = (value) => Array.isArray(value) ? value : [];\nconst frameworks = ensureArray(result.frameworks).slice(0, 5).map((item, index) => ({\n  key: String(item.key || ['taxonomy', 'dice', 'reliability', 'governance', 'automation'][index] || `framework_${index + 1}`),\n  label: String(item.label || `Framework ${index + 1}`),\n  score: Number.isFinite(Number(item.score)) ? Math.max(0, Math.min(100, Math.round(Number(item.score)))) : 50,\n  summary: String(item.summary || '')\n}));\n\nconst governanceNotes = ensureArray(result.governanceNotes).slice(0, 3).map((note) => String(note));\nwhile (governanceNotes.length < 3) {\n  governanceNotes.push('Add explicit monitoring and rollback criteria before launch.');\n}\n\nconst dice = result.dice || {};\nconst total = Number(dice.determinism || 0) + Number(dice.inputComplexity || 0) + Number(dice.costOfError || 0) + Number(dice.economics || 0);\n\nconst finalResult = {\n  title: String(result.title || prep.title),\n  ideaText: String(result.ideaText || prep.ideaText),\n  summary: String(result.summary || ''),\n  taxonomy: result.taxonomy,\n  dice: {\n    determinism: Number(dice.determinism || 1),\n    inputComplexity: Number(dice.inputComplexity || 1),\n    costOfError: Number(dice.costOfError || 1),\n    economics: Number(dice.economics || 1),\n    total: Number.isFinite(Number(dice.total)) ? Number(dice.total) : total\n  },\n  reliability: result.reliability,\n  frameworks,\n  route: result.route,\n  conclusion: String(result.conclusion || ''),\n  buildRecommendation: String(result.buildRecommendation || ''),\n  governanceNotes,\n  simulated: false\n};\n\nreturn [{ json: finalResult }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "8ef8128e-8d02-4436-8b6c-c26f0f1cb775",
      "name": "Format Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { result: $json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        0
      ],
      "id": "6906a670-797b-4c5f-83ab-a65d871656c1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Gate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gate Prompt": {
      "main": [
        [
          {
            "node": "AI Gate Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Gate Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Gate Evaluator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Gate Evaluator": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "96530c2d-31ef-4ec7-a6a5-b7c496eb9c49",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T11:14:41.414Z",
      "createdAt": "2026-05-02T11:14:41.414Z",
      "role": "workflow:owner",
      "workflowId": "CM13VfPCeGYmXoCe",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
