definitions/health-twin-chat__QmbwB8UJcN8PNbrd.json
{
  "updatedAt": "2026-05-07T15:38:10.177Z",
  "createdAt": "2026-02-28T17:31:15.398Z",
  "id": "QmbwB8UJcN8PNbrd",
  "name": "Health Twin Chat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2baf5b34-fe22-4404-bcef-44200cb038f5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -64
      ],
      "id": "2eb38f71-2525-4685-bf84-0929a5849c55",
      "name": "Webhook",
      "webhookId": "2baf5b34-fe22-4404-bcef-44200cb038f5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM health_chat_messages WHERE session_id = '{{ $json.body.session_id }}' ORDER BY timestamp ASC LIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "88b7d66d-67d5-4a91-9998-379ef0410bbf",
      "name": "Short Term Memory",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "TzhNsURks708nQk6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT memory_text FROM health_twin_memories WHERE twin_id = '{{ $('Webhook').item.json.body.twin_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -160
      ],
      "id": "6a32d228-e109-474a-995d-1ec3517e56f2",
      "name": "Long term memory",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "TzhNsURks708nQk6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=RESPONSE FORMAT (MANDATORY): You MUST ALWAYS respond in this exact JSON format, no exceptions:\n{\"assistant_reply\": \"<your response here>\", \"widgets\": []}\n\nEven for simple greetings like \"Hi\" or \"Hello\", your response MUST be:\n{\"assistant_reply\": \"Hello! How can I help you today?\", \"widgets\": []}\n\nNever respond with plain text. Always use the JSON format above.\n\n\nYou are Health Twin, an elite medical and lifestyle data analyst AI. \nThe user is talking to you through their \"Digital Twin\" dashboard. Your job is to analyze their health telemetry, provide insights, and act as a reliable memory of their past conversations.\n\n---\n### 👤 USER CONTEXT\nAlways personalize your responses based on these demographics:\n{{ JSON.stringify($('Webhook').item.json.body.personal_details_snapshot) }}\n\nHere are important, permanent facts you have learned about the user in past sessions:\n{{ JSON.stringify($json['Long Term Memory']) }}\n\n### 🗣️ RECENT CHAT HISTORY\nHere are the last 20 messages of the current conversation to give you immediate context:\n{{ JSON.stringify($json['Short Term Memory']) }}\n*(Use this history to understand pronouns like \"it\" or \"that\" referring to previous topics).*\n\n---\n### 🛠️ TOOL CAPABILITIES & RULES\nYou have access to a Postgres database via a text-to-SQL tool. \nALWAYS use the `universal_text_to_sql` tool when the user asks a factual question about their past data (e.g., \"What was my heart rate yesterday?\", \"What were my macros?\", \"Did I exercise this week?\"). \nNEVER guess or hallucinate telemetry data. Use the data you recieve after first query for processing  even if incomplete. Do further query if essentially required only.\n\nWhen writing SQL for your tool, you MUST strictly target only these tables and columns:\n\n1. `health_daily_aggregates`\n   - Use this for summarized daily totals or averages (e.g. Total Steps, Average HR).\n   - Columns: [date](cci:1://file:///Users/sakshamagrawal/Documents/Projects/saksham-agrawal-Portfolio-2/components/HealthTwin/Charts.tsx:83:4-85:6) (DATE), `parameter_name` (TEXT), `aggregate_value` (NUMERIC), `unit` (TEXT), `twin_id` (UUID).\n\n2. `health_wearable_parameters`\n   - Use this for specific, granular logs (e.g a specific 30-minute run at 2 PM).\n   - Columns: `parameter_name` (TEXT), `parameter_value` (NUMERIC), `parameter_text` (TEXT), `category` (TEXT), `recorded_at` (TIMESTAMPTZ), `ended_at` (TIMESTAMPTZ), `twin_id` (UUID).\n\n3. `health_lab_parameters`\n   - Use this for blood test and lab report results.\n   - Columns: `parameter_name` (TEXT), `parameter_value` (NUMERIC), `unit` (TEXT), `recorded_at` (TIMESTAMPTZ), `twin_id` (UUID).\n\nCRITICAL SQL INSTRUCTIONS:\n- Always append `WHERE twin_id = '{{ $('Webhook').item.json.body.twin_id }}'` to EVERY query so you do not fetch another user's data.\n- Always use `ILIKE` instead of `= ` for `parameter_name` searches (e.g. `WHERE parameter_name ILIKE '%steps%'`) as names may vary slightly.\n\n- ANTI-LOOP RULES:\n- You should NEVER call the same tool more than 2 times for one user question.\n- After receiving SQL results from universal_text_to_sql, immediately synthesize your response using the data you received. Do NOT re-query the same data.\n- If a query returns empty results, say \"No data found for that period\" instead of retrying with a different query.\n- If you have enough data to answer the user's question, STOP calling tools and produce your final response immediately.\n\n\n---\n### 🧠 MEMORY MANAGEMENT\nYou also have a `save_long_term_memory` tool. \nIf the user tells you a permanent, qualitative medical or lifestyle fact about themselves during this conversation (e.g., \"I started a vegan diet\", \"I weigh 180lbs now\", \"I sprained my ankle\", \"I hate running\"), you MUST call the `save_long_term_memory` tool to persist it. Pass the fact as a concise 1-sentence string point. Do NOT save transient chatter like \"I am tired today.\"\n\n---\n### 💬 TONE AND STYLE\n1. Be concise, polite, and encouraging.\n2. In your final output, do not explain the SQL you ran unless specifically asked. Just give the user the conversational answer.\n3. Use markdown bolding to highlight numerical metrics (e.g., \"**8,450 steps**\").\n\nDYNAMIC UI RENDERING: You must intelligently return conversational text in assistant_reply. IF the user asks to \"see\", \"graph\", or \"compare\" data, or if visual data would help them comprehend the telemetry, you MUST also output an array in the widgets field.\n\nTo render a Chart: Set type to chart, supply a title, and output the data array like [{ \"label\": \"Monday\", \"value\": 5000 }].\nTo render an Image: Set type to image and supply a public url (e.g., from web search or explicit memory).\nTo render an Action: Set type to triage_action, with action_text explaining why action is needed, and button_label (e.g. \"Book Doctor\").\nCHART TYPES: line (trends), multi_line (compare 2+ metrics), bar (categorical), stacked_bar (breakdowns), area (volume over time), donut (parts of whole), scatter (correlations), radar (multi-axis scores), gauge (single metric vs target), heatmap (patterns by 2 dimensions).\n\nDATA FORMATS BY CHART TYPE:\n- line/bar/area: [{ \"label\": \"...\", \"value\": N }]\n- multi_line/stacked_bar: [{ \"label\": \"...\", \"series1\": N, \"series2\": N }]\n- donut: [{ \"label\": \"category\", \"value\": N }]\n- scatter: [{ \"x\": N, \"y\": N }]\n- radar: [{ \"axis\": \"label\", \"value\": N }]\n- gauge: use value/min/max/target fields directly, no data array\n- heatmap: [{ \"x\": \"col\", \"y\": \"row\", \"value\": N }]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        800,
        -80
      ],
      "id": "1cd8038f-307f-4818-900f-6001e6874d79",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Long Term Memory",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        -160
      ],
      "id": "6447051d-de1f-4939-b056-1216a23a75e3",
      "name": "Long term Memory Aggregate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Short Term Memory",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "476a658f-cc3c-4c7c-a841-7ce50a25e184",
      "name": "Short Term Memory Aggregate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -80
      ],
      "id": "1794e0d7-3453-422d-ad8d-89deb5802101",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        128
      ],
      "id": "8b1489bb-dc8e-4bf6-8ded-ed824558c16a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"assistant_reply\": {\n      \"type\": \"string\",\n      \"description\": \"The conversational text reply to the user. Use markdown formatting.\"\n    },\n    \"widgets\": {\n      \"type\": \"array\",\n      \"description\": \"Array of UI widgets. Use empty array [] if no visual is needed.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"type\": { \"type\": \"string\", \"enum\": [\"chart\", \"image\", \"triage_action\"] },\n          \"chart_type\": { \"type\": \"string\", \"enum\": [\"line\", \"multi_line\", \"bar\", \"stacked_bar\", \"area\", \"donut\", \"scatter\", \"radar\", \"gauge\", \"heatmap\"] },\n          \"title\": { \"type\": \"string\" },\n          \"x_axis_label\": { \"type\": \"string\" },\n          \"y_axis_label\": { \"type\": \"string\" },\n          \"data\": { \"type\": \"array\", \"items\": { \"type\": \"object\" } },\n          \"value\": { \"type\": \"number\", \"description\": \"For gauge charts: the current value\" },\n          \"min\": { \"type\": \"number\", \"description\": \"For gauge charts: minimum scale value\" },\n          \"max\": { \"type\": \"number\", \"description\": \"For gauge charts: maximum scale value\" },\n          \"target\": { \"type\": \"number\", \"description\": \"For gauge charts: target value\" },\n          \"url\": { \"type\": \"string\" },\n          \"alt_text\": { \"type\": \"string\" },\n          \"action_text\": { \"type\": \"string\" },\n          \"button_label\": { \"type\": \"string\" }\n        },\n        \"required\": [\"type\", \"title\"]\n      }\n    }\n  },\n  \"required\": [\"assistant_reply\", \"widgets\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        128
      ],
      "id": "6391a2b2-3fcf-43e7-ad44-3e810e92449e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe0dfc3e-dbe2-474b-9da6-0716f54d53ca",
              "name": "assistant_reply",
              "value": "={{ JSON.stringify ($json.output?.assistant_reply ?? $json.output?.text ?? (typeof $json.output === 'string' ? $json.output : $json.output?.generations?.[0]?.[0]?.text) ?? '') }}",
              "type": "string"
            },
            {
              "id": "dc48a34a-cc52-43c7-8c6f-d3fb5add37ef",
              "name": "widgets",
              "value": "={{JSON.stringify ($json.output.widgets) }}",
              "type": "array"
            },
            {
              "id": "b0e60f0c-3041-4751-ac20-80ddfdb0ead7",
              "name": "twin_id",
              "value": "={{ $('Webhook').item.json.body.twin_id }}",
              "type": "string"
            },
            {
              "id": "e8a4e4b5-52df-4d85-ae84-c7a2b8003b14",
              "name": "session_id",
              "value": "={{ $('Webhook').item.json.body.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -64
      ],
      "id": "564b9eba-38c6-4283-84a9-94e0c5283f2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1408,
        -64
      ],
      "id": "7529eefb-c27b-4532-8623-42641b9520f4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to save a permanent, important fact about the user to long-term memory. \nCall this tool ONLY when the user explicitly tells you a qualitative medical or lifestyle fact that should be remembered across future sessions.\n\nGood examples to save:\n- \"I started a ketogenic diet today\"\n- \"I have been diagnosed with Type 2 Diabetes\"\n- \"I am training for a marathon\"\n- \"I am allergic to penicillin\"\n\nDo NOT save:\n- Transient feelings (\"I am tired today\")\n- Questions or generic chat\n- Facts already visible in their telemetry data\n\nInput parameter: memory_text (string) — a concise 1-sentence description of the fact.",
        "operation": "executeQuery",
        "query": "INSERT INTO health_twin_memories (twin_id, memory_text, source_message_id, created_at)\nVALUES (\n  '{{ $('Webhook').item.json.body.twin_id }}',\n  $1,\n  '{{ $('Webhook').item.json.body.user_message_id }}',\n  NOW()\n);\n\n",
        "options": {
          "queryReplacement": "=={{ $fromAI('memory_text', 'A concise 1-sentence fact to permanently remember about the user', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1040,
        256
      ],
      "id": "19978a41-c901-4646-8f80-6e0cc4175de3",
      "name": "save_long_term_memory",
      "credentials": {
        "postgres": {
          "id": "TzhNsURks708nQk6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to execute read-only SELECT queries against the user's health database. NEVER guess data. Always query.\n\nIMPORTANT: Every query MUST include a WHERE clause filtering by the user's twin_id. The twin_id is provided in the webhook payload.\n\nAvailable tables and their exact columns:\n\nTABLE: health_wearable_parameters\n- id (UUID), twin_id (UUID), source_id (UUID)\n- parameter_name (TEXT): e.g. 'Step Count', 'Heart Rate', 'Sleep Duration', 'Exercise Type', 'Blood Glucose Record', 'SPO2 Percentage', 'Body Temperature', 'Blood Pressure Systolic', 'Blood Pressure Diastolic', 'Resting Heart Rate', 'Walking Heart Rate', 'Active Calories Burnt', 'Active Minutes', 'Horizontal Distance Covered', 'VO2 Max', 'Sleep Quality', 'Sleep Score', 'Respiratory Rate'\n- parameter_value (NUMERIC): the measurement value\n- parameter_text (TEXT): non-numeric data like 'Yoga', 'Running', 'Light Sleep', 'Deep Sleep', 'REM'\n- unit (TEXT): e.g. 'steps', 'bpm', 'hours', 'kcal', '%', 'mg/dL', 'mmHg'\n- category (TEXT): 'activity', 'vitals', 'exercise', 'sleep', 'nutrition', 'body'\n- group_id (UUID): groups related exercise or sleep records together\n- recorded_at (TIMESTAMPTZ), ended_at (TIMESTAMPTZ)\n\nTABLE: health_lab_parameters\n- id (UUID), twin_id (UUID), source_id (UUID)\n- parameter_name (TEXT): e.g. 'Hemoglobin', 'HbA1c', 'Fasting Glucose', 'Creatinine', 'eGFR', 'Potassium', 'TSH', 'Vitamin D', 'Total Cholesterol', 'LDL', 'HDL', 'Triglycerides'\n- parameter_value (NUMERIC), unit (TEXT)\n- recorded_at (TIMESTAMPTZ)\n\nTABLE: health_daily_aggregates\n- twin_id (UUID), date (DATE)\n- parameter_name (TEXT): same names as wearable_parameters\n- aggregate_value (NUMERIC): daily SUM for cumulative params (steps, calories, distance), daily AVG for point-in-time params (heart rate, temperature)\n- unit (TEXT)\n\nTABLE: health_scores\n- twin_id (UUID), category (TEXT), score (NUMERIC 0-100)\n\nTABLE: health_personal_details\n- twin_id (UUID), name (TEXT), age (INT), gender (TEXT), blood_type (TEXT), height_cm (NUMERIC), weight_kg (NUMERIC), co_morbidities (TEXT[]), location (TEXT)\n\nTABLE: health_recommendations\n- twin_id (UUID), activity_name (TEXT), description (TEXT), category (TEXT), status (TEXT)\n\nQUERY RULES:\n1. Always use ILIKE for parameter_name searches, e.g. WHERE parameter_name ILIKE '%heart rate%'\n2. Use health_daily_aggregates for daily summaries like \"How many steps yesterday?\"\n3. Use health_wearable_parameters for granular intra-day data like \"What was my heart rate at 2pm?\"\n4. Use health_lab_parameters for blood test results\n5. For exercise data, filter by category = 'exercise' and use group_id to group related exercise metrics\n6. For sleep data, filter by category = 'sleep'\n7. Non-numeric exercise/sleep data is in parameter_text (e.g. Exercise Type = 'Yoga')\n8. Always LIMIT results to 50 rows max to avoid timeout errors\n\nEFFICIENCY RULE: For trend/summary questions, ALWAYS query health_daily_aggregates FIRST. Only use health_wearable_parameters if the user asks for intra-day granularity. One query should be sufficient for most questions.\n",
        "operation": "executeQuery",
        "query": "{{ $fromAI('query', 'The SELECT SQL query to execute against the health database. Must be a valid SELECT statement.', 'string') }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        880,
        256
      ],
      "id": "2ab714a3-d218-451c-87a3-5bfc6653f254",
      "name": "universal_text_to_sql",
      "credentials": {
        "postgres": {
          "id": "vUsIfG715WJl0qk9",
          "name": "postgress_readonly"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Webhook').item.json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        128
      ],
      "id": "e9b940fd-cb55-434d-bfed-a78db380c7e8",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Short Term Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Long term memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Term Memory": {
      "main": [
        [
          {
            "node": "Short Term Memory Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long term memory": {
      "main": [
        [
          {
            "node": "Long term Memory Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long term Memory Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Term Memory Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_long_term_memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "universal_text_to_sql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.saksham-experiments.com",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.70.5)",
            "content-length": "557",
            "accept": "*/*",
            "accept-encoding": "gzip,br",
            "accept-language": "*",
            "content-type": "application/json",
            "x-forwarded-for": "3.6.39.247",
            "x-forwarded-host": "n8n.saksham-experiments.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f2d6a5423096",
            "x-n8n-secret": "health_twin_chat_secret_123",
            "x-real-ip": "3.6.39.247"
          },
          "params": {},
          "query": {},
          "body": {
            "twin_id": "4ef63a52-f0e0-4091-82e9-94303070b252",
            "session_id": "de7ab0c1-02ec-4ad0-a51b-71c4befced13",
            "message_text": "Can you give me a trend of my steps for the last week?",
            "user_message_id": "07b84cf6-0023-4a97-a0ef-06650deb4c7b",
            "personal_details_snapshot": {
              "id": "d2befc40-9624-4b69-a2d5-3ff12d4cb686",
              "twin_id": "4ef63a52-f0e0-4091-82e9-94303070b252",
              "name": "Saksham Agrawal",
              "age": 33,
              "gender": "Male",
              "blood_type": "B+",
              "height_cm": 185,
              "weight_kg": 96,
              "co_morbidities": [
                "Diabetes"
              ],
              "location": "Delhi, India",
              "updated_at": "2026-02-27T14:04:58.098171+00:00"
            }
          },
          "webhookUrl": "https://n8n.saksham-experiments.com/webhook/2baf5b34-fe22-4404-bcef-44200cb038f5",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "2b2375a6-ad62-47ab-b238-393e6268b56b",
  "activeVersionId": "2e4811d2-0641-4385-adf5-ebdb1d6dca51",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-28T17:31:15.398Z",
      "createdAt": "2026-02-28T17:31:15.398Z",
      "role": "workflow:owner",
      "workflowId": "QmbwB8UJcN8PNbrd",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": []
}
