definitions/insightslm-summary-generator__BLf8nGNjezv5HYld.json
{
  "updatedAt": "2026-03-28T04:46:58.356Z",
  "createdAt": "2025-12-18T12:05:24.449Z",
  "id": "BLf8nGNjezv5HYld",
  "name": "InsightsLm Summary Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7b9bb8e0-68fa-463f-87f2-2cf0bb1db4e6",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2b79cf99-9f4c-42b4-b605-655b837fc557",
      "name": "Webhook",
      "webhookId": "7b9bb8e0-68fa-463f-87f2-2cf0bb1db4e6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lUBq76JGBJQGYD8c",
          "name": "InsightsLm_Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.file_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "5449e072-5464-4ebc-943b-cf3362124716",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "insightslm",
          "mode": "list",
          "cachedResultName": "insightslm"
        },
        "options": {
          "pineconeNamespace": "={{ $json.body.notebook_id }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "96d09c96-b54a-46cd-b34c-eb122a6aead9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Z208IOylzyj0Pwbt",
          "name": "Pinecone Vector Saksham"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        208
      ],
      "id": "934049a5-c265-498b-a231-a412e0422806",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        304
      ],
      "id": "28c58053-0023-4042-a7a1-2b4c209b7a41",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        480
      ],
      "id": "38d7ee18-64c0-46b0-9539-ca3996b92e83",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"notebook_id\": \"{{ $('Webhook').item.json.body.notebook_id }}\" ,\n\"source_id\": \"{{ $('Webhook').item.json.body.source_id }}\",\n\"status\" : \"processed\",\n\"summary\" : {{ JSON.stringify($json.output.Summary) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1600,
        16
      ],
      "id": "465fe5db-26c4-4ab6-886a-dbd785df67fe",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        240
      ],
      "id": "aea0e85e-7ffc-42ca-9dac-80094a2fb302",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"The Little Robot's Flower\",\n  \"Summary\": \"In a city made of chrome, a small robot named Beep found a single dandelion growing through a crack in the pavement. While the other robots built skyscrapers, Beep spent his days shielding the flower from the acid rain. Eventually, the flower turned into a seed puff, and Beep realized he hadn't just saved one flower, but a whole future garden.\",\n  \"word_count\": 63\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1552,
        288
      ],
      "id": "71ad3954-b8e0-4713-880a-015c8c4ab2cd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool retrieves the notebook information in the Pinecone Database",
        "pineconeIndex": {
          "__rl": true,
          "value": "insightslm",
          "mode": "list",
          "cachedResultName": "insightslm"
        },
        "topK": 20,
        "options": {
          "pineconeNamespace": "={{ $('HTTP Request').item.json.body.notebook_id }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1248,
        320
      ],
      "id": "bcad122f-5f05-4ade-8c76-3acf8e7151ad",
      "name": "NotebookLM Data retrieval",
      "credentials": {
        "pineconeApi": {
          "id": "Z208IOylzyj0Pwbt",
          "name": "Pinecone Vector Saksham"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1264,
        512
      ],
      "id": "7621c61b-61d6-4b2c-8022-b473922856a1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert academic and a an pleaseant orator. You are to create a 50-75 word summary of the notebook data you have been provided. \nA notebook is a collection of files, which the user is uploading data to and which is saved in Pinecone Namespace. This can be accessed with the tool \n\nYou are to provide a summary for the full namespace, with particular emphasis on the latest file loaded. The data of the latest file being:\nTitle: {{ $('HTTP Request').item.json.body.file_name }} \nContent: {{ $json.pageContent }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1168,
        16
      ],
      "id": "5c7b3cad-0ecb-4a4f-8afc-643f7b8ad1d3",
      "name": "Summary Generator"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        944,
        32
      ],
      "id": "254035c4-9064-41d5-9131-f146ed5d856d",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summary Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "NotebookLM Data retrieval": {
      "ai_tool": [
        [
          {
            "node": "Summary Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "NotebookLM Data retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Summary Generator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3d78d9e5-d034-4b32-a6e3-57108756bfe0",
  "activeVersionId": "dd68e71a-6c9e-49dd-8e15-40ca4d83fd05",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-18T12:05:24.449Z",
      "createdAt": "2025-12-18T12:05:24.449Z",
      "role": "workflow:owner",
      "workflowId": "BLf8nGNjezv5HYld",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-14T15:33:32.742Z",
      "createdAt": "2025-12-14T15:33:32.742Z",
      "id": "dowhSEz7Kg61JxrP",
      "name": "Product Portfolio"
    },
    {
      "updatedAt": "2025-12-14T15:33:41.492Z",
      "createdAt": "2025-12-14T15:33:41.492Z",
      "id": "3S8y4ELDYElHJs5G",
      "name": "Insights LM"
    }
  ]
}
