definitions/medical-diagnosis-benchmark__ibTh0cmjuUzfiiNK.json
{
  "updatedAt": "2026-05-04T10:22:03.473Z",
  "createdAt": "2026-04-18T13:20:50.430Z",
  "id": "ibTh0cmjuUzfiiNK",
  "name": "Medical Diagnosis Benchmark",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-benchmark",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "11111111-1111-4444-a111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "medical-benchmark"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"You are a medical AI. Analyze the case below and provide exactly 3 differential diagnoses. Return ONLY a valid JSON array of strings.\\n\\nCase Details:\\n\" + $json.body.caseText\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "id": "22222222-2222-4444-a222-222222222222",
      "name": "LLM HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "diagnoses",
              "value": "={{ JSON.parse($json.data.candidates[0].content.parts[0].text) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4444-a333-333333333333",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LLM HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7dd8e9dc-f580-4895-a695-428d82361a2d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-18T13:20:50.430Z",
      "createdAt": "2026-04-18T13:20:50.430Z",
      "role": "workflow:owner",
      "workflowId": "ibTh0cmjuUzfiiNK",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
