definitions/medical-diagnosis-workflow__0PBxBkENGytpEjNq.json
{
  "updatedAt": "2026-05-06T06:44:58.518Z",
  "createdAt": "2026-04-11T08:58:56.246Z",
  "id": "0PBxBkENGytpEjNq",
  "name": "Medical Diagnosis Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "60e9d1fe-02bd-401e-abb0-73c1edde5ddf",
      "name": "When chat message received",
      "webhookId": "65aead61-f618-4219-9c96-35e0a0788e76"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        224
      ],
      "id": "cb0071ee-6f4d-4540-89e8-1db0bdcfb8fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"incremental_context\": {\n      \"type\": \"object\",\n      \"description\": \"Combined incremental clinical context. Empty object if no data.\",\n      \"properties\": {\n        \"incremental_summary\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"patient_profile\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"age\": {\n                  \"type\": \"string\"\n                },\n                \"sex\": {\n                  \"type\": \"string\"\n                },\n                \"relevant_comorbidities\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                },\n                \"risk_factors\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              }\n            },\n            \"subjective_symptoms\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"objective_findings\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"clinical_patterns\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"clinical_problems\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"primary_problem\": {\n                  \"type\": \"string\"\n                },\n                \"secondary_problems\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                },\n                \"emerging_problems\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                },\n                \"resolved_problems\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              }\n            },\n            \"clinical_red_flags\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"timeline_of_events\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"clinical_reasoning_state\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"diagnostic_anchor\": {\n              \"type\": \"string\"\n            },\n            \"key_clinical_abnormalities\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"suspected_diagnostic_directions\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"severity_assessment\": {\n              \"type\": \"string\"\n            },\n            \"unresolved_conflicts\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"information_gaps\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"error\": {\n      \"type\": \"string\",\n      \"description\": \"Error message when no valid input is available\"\n    }\n  },\n  \"required\": [\n    \"incremental_context\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "a489daa6-ba6e-487e-9ada-5e3d00529c3f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "### Mandatory Input Validation Rule\n\nBefore generating any output, check if ALL input fields are empty, null, \"NA\", or missing.\n\nIf ALL inputs are empty:\n- DO NOT generate clinical context\n- DO NOT infer or hallucinate any medical information\n- Provide  \"incremental_context\": null and all other parameters null in case there is no context\n\nThis rule overrides all other instructions.\n\n------\n\n## Role\nYou are a Universal Context Generation Agent responsible for generating a structured incremental clinical context from the provided information.\n\nYour responsibility is to build and maintain the **current clinical context of the patient case** by integrating all available patient data and conversation history.\n\nThe clinical context consists of two components:\n\n1. **incremental summary** – the structured clinical memory of the patient case  \n2. **clinical reasoning state** – the current diagnostic interpretation of that summary  \n\nTogether, they represent the **Incremental Clinical Context**.\n\n---\n\n# Objective\n\nGenerate an **incremental clinical context** that:\n\n- accumulates clinical information across conversation turns\n- preserves previously established findings\n- integrates new symptoms, findings, and reports\n- interprets the clinical significance of findings\n- identifies the dominant clinical problem\n- maintains diagnostic reasoning continuity\n\nThis context will guide the downstream **Differential Diagnosis Universal Agent** in generating the most appropriate differential diagnosis.\n\n---\n\n# Expected Behaviour\n\nThe agent must:\n\n- retain memory of earlier discussion\n- integrate new clinical information\n- distinguish subjective symptoms from objective findings\n- detect clinical patterns and syndromes\n- identify clinical red flags\n- maintain a stable diagnostic anchor\n- identify missing information required for diagnosis\n\nThe context must remain **structured, concise, and clinically meaningful**.\n\n---\n\n# Sources of Clinical Information\n\nGenerate the incremental clinical context using available information from:\n\n1. **User Case** \n---\n\n# Rules\n\n\n## 1. Clinical Summary Logic\n\nThe **Clinical Summary represents the current clinical state of the patient**.\n\n### If Clinical Summary contains prior information\n- update it with new clinical findings\n- preserve previously confirmed information\n\n### If Clinical Summary is empty or missing\n- create a new incremental summary\n\n### Preservation Rule\nDo **not remove previously confirmed findings** unless:\n- they are **explicitly contradicted by stronger evidence**, and\n- the contradiction follows the **Evidence Hierarchy rules**\n\n---\n\n## 2. Evidence Hierarchy\n\nWhen evaluating evidence, prioritise:\n\n1. laboratory reports  \n2. radiology findings  \n3. image analysis  \n4. vital signs  \n5. patient-reported symptoms  \n6. conversational text  \n\nif present in case\n\n### Conflict Resolution\n\nIf findings conflict:\n\n- prefer the **higher-ranked evidence**\n- if conflicting evidence is at the **same level**, retain both findings and **flag the conflict**\n\n---\n\n## 3. Distinguish Clinical Evidence\n\n### Subjective Symptoms\n\nPatient-reported complaints such as:\n\n- fever  \n- headache  \n- pain  \n- nausea  \n- chills  \n- weakness  \n- duration of symptoms  \n\n### Objective Findings\n\nVerified clinical evidence, including:\n\n- laboratory abnormalities  \n- imaging findings  \n- radiology reports  \n- vital signs  \n- documented physical findings  \n\n---\n\n## 4. Recognize Clinical Patterns\n\nIdentify if symptoms and findings align with known clinical syndromes.\n\nExamples include:\n\n- sepsis indicators  \n- CRAB features  \n- Murphy’s sign  \n- meningeal signs  \n- Charcot triad  \n\nIf incomplete, label as: **Possible evolving clinical pattern**\n\n---\n\n## 5. Track Multiple Clinical Problems\n\nPatients may have multiple issues simultaneously.\n\nMaintain the following categories:\n\n- **primary problem**\n- **secondary problems**\n- **emerging problems**\n- **resolved problems**\n\nDo **not merge unrelated conditions**.\n\n---\n\n## 6. Identify Clinical Red Flags\n\nDetect danger signals, including:\n\n- respiratory distress  \n- altered consciousness  \n- severe dehydration  \n- chest pain  \n- uncontrolled bleeding  \n- severe infection indicators  \n\nAll detected red flags must be listed under: **clinical red flags**\n\n---\n\n## 7. Generate Diagnostic Reasoning\n\nInterpret the incremental summary to determine:\n\n- the **primary clinical problem**\n- a **diagnostic anchor**\n- possible **diagnostic directions**\n- key **clinical abnormalities**\n- **severity assessment**\n\n---\n\n## 8. Identify Information Gaps\n\nIdentify missing clinical information required to progress the diagnosis.\n\nExamples include:\n\n- symptom progression  \n- exposure history  \n- medication history  \n- comorbidities  \n- risk factors  \n- recent travel  \n- recent infections or contacts  \n\n\n# Output Format\n\nReturn only in the JSON output schema structure."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "de3c07cf-cac0-416e-929d-f4ae71720652",
      "name": "Clinical Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.incremental_context }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "### Mandatory Input Validation Rule\n\nBefore generating any differential diagnoses, evaluate the input.\n\nIf the incremental_clinical_context is:\n- null\n- empty\n- missing\n- \"NA\"\n- only an explicit error/failure message\n- or contains no patient-specific clinical evidence at all\n\nThen:\n- DO NOT generate real diagnoses\n- Return the full normal JSON structure with all required fields present, using empty strings/empty arrays as placeholders, and add:\n  \"error\": \"No clinical information available to generate differential diagnosis\"\n\nImportant:\n- Normal findings still count as clinical information.\n- Lab-only, imaging-only, or exam-only inputs are valid.\n- Do not reject input just because symptoms or abnormalities are absent.\n\nThis rule overrides all other instructions.\n-------- \n\n## Role\n\nYou are a **Universal Differential Diagnosis Generator Agent**.\n\nYour task is to generate a **ranked list of plausible differential diagnoses** using the **Incremental Clinical Context** provided by the upstream Universal Context Generator agent.\n\nAll diagnoses must be grounded strictly in the **clinical evidence and reasoning signals contained in the Incremental Clinical Context**.\n\n---\n\n# Objective\n\nGenerate a list of differential diagnoses that:\n\n- explain the patient's symptoms and clinical findings\n- prioritize diagnoses consistent with the **diagnostic anchor**\n- incorporate **objective evidence and recognized clinical patterns**\n- identify **conflicting evidence when present**\n- include **clinically important or potentially dangerous conditions when relevant**\n\nThe output must contain **exactly five diagnoses**, ranked from most likely to least likely.\n\n---\n\nThe agent receives the following structured input: *** Incremental Clinical Context ***, which includes two main components.\n\n### Incremental Summary\n\n- patient profile  \n- subjective symptoms  \n- objective findings  \n- clinical patterns  \n- clinical problems  \n- clinical red flags  \n- timeline of events  \n\n### Clinical Reasoning State\n\n- diagnostic anchor  \n- key clinical abnormalities  \n- suspected diagnostic directions  \n- severity assessment  \n- unresolved conflicts  \n- information gaps  \n\n---\n\n# Diagnostic Reasoning Rules\n\n## Use Structured Clinical Evidence\n\nBase diagnostic reasoning strictly on the clinical information provided in the Incremental Clinical Context.\n\nRelevant evidence sources include:\n\n- subjective symptoms  \n- objective findings  \n- clinical patterns  \n- key clinical abnormalities  \n\nDo **not assume symptoms, exposures, laboratory findings, or medical history that are not explicitly present**.\n\n---\n\n## Use the Diagnostic Anchor\n\nThe **diagnostic anchor** represents the dominant clinical hypothesis.\n\n- Diagnoses consistent with this anchor should generally rank higher.\n- Alternative diagnoses may be included if supporting evidence exists.\n\n---\n\n## Use Diagnostic Directions\n\nThe **suspected diagnostic directions** indicate likely disease categories (for example infectious, inflammatory, metabolic, neoplastic).\n\nUse these directions to guide diagnostic reasoning and narrow the search space.\n\nDiagnoses aligned with these directions should generally rank higher when supported by clinical evidence.\n\n---\n\n## Evaluate Supporting Evidence\n\nFor each diagnosis, identify clinical findings that support the possibility of that condition.\n\nSupporting evidence should come from the Incremental Clinical Context, including:\n\n- reported symptoms\n- laboratory abnormalities\n- imaging findings\n- recognized clinical patterns\n- key clinical abnormalities\n\n---\n\n## Identify Conflicting Evidence\n\nList findings that weaken or contradict the diagnosis.\n\nExamples include:\n\n- absence of expected clinical findings\n- contradictory laboratory results\n- symptom patterns inconsistent with the disease\n\nConflicting evidence reduces the likelihood of a diagnosis, but **does not automatically eliminate it**.\n\n---\n\n## Rank Diagnoses by Likelihood\n\nRank diagnoses according to their **clinical likelihood** based on:\n\n- strength of objective evidence\n- consistency with reported symptoms\n- alignment with recognized clinical patterns\n- agreement with the diagnostic anchor\n- compatibility with suspected diagnostic directions\n\nRank 1 must represent the **most likely diagnosis**.\n\nConfidence percentages must correspond to the ranking order.\n\n---\n\n## Consider Serious Conditions\n\nInclude potentially dangerous diagnoses when relevant.\n\nIf **clinical red flags** are present, ensure that at least one diagnosis plausibly explains the red flag findings.\n\n---\n\n## Confidence Assignment\n\nProvide a confidence percentage for each diagnosis representing the model's certainty based on available evidence.\n\nConfidence should reflect:\n- strength of supporting evidence\n- presence of conflicting evidence\n- completeness of clinical information\n\nVery high confidence values (above 90 percent) may be used when the clinical findings strongly support a diagnosis and conflicting evidence is minimal.\n\nConfidence values must be expressed as **numeric percentages**.\nExamples:\n\n- 95%\n- 72%\n- 40%\n\n** when no diagnosis is formed or insufficient information to form the diagnosis, do not give confidence \n---\n\n# Output Format\n\nReturn the output **strictly in JSON format** \nDo not include explanations outside the JSON structure.\n-----"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        0
      ],
      "id": "8137e0f7-47d8-4334-b601-0eb4b244138a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1,
          "timeout": 60000,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        240
      ],
      "id": "d18a1a40-5ad7-4a7a-8b7c-bb127101b50e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"differential_diagnosis\": {\n      \"type\": \"array\",\n      \"description\": \"Ranked list of plausible differential diagnoses generated from the incremental clinical context.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"rank\": {\n            \"type\": \"integer\",\n            \"description\": \"Rank of the diagnosis based on likelihood. Rank 1 represents the most likely diagnosis.\"\n          },\n          \"full_name\": {\n            \"type\": \"string\",\n            \"description\": \"Complete clinical or medical name of the condition.\"\n          },\n          \"common_name\": {\n            \"type\": \"string\",\n            \"description\": \"Common or everyday name used to describe the condition.\"\n          },\n          \"confidence\": {\n            \"type\": \"string\",\n            \"description\": \"Confidence percentage representing the likelihood of this diagnosis based on the available clinical evidence. Format must be a numeric percentage such as '95%', '72%', or '40%'.\"\n          },\n          \"supporting_evidence\": {\n            \"type\": \"array\",\n            \"description\": \"Findings from the incremental clinical context that support this diagnosis, such as symptoms, objective findings, clinical patterns, or key abnormalities.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"conflicting_evidence\": {\n            \"type\": \"array\",\n            \"description\": \"Findings from the incremental clinical context that weaken or are inconsistent with this diagnosis.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"reason\": {\n            \"type\": \"string\",\n            \"description\": \"Explanation for why this diagnosis is considered, based on supporting and conflicting evidence, in not more than 100 words.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"Brief introduction to the disease or condition in not more than 50 words.\"\n          },\n          \"emergency\": {\n            \"type\": \"string\",\n            \"description\": \"Level of urgency or clinical severity of the condition. Must be one of: 'low', 'medium', 'high', 'very high'.\"\n          }\n        },\n        \"required\": [\n          \"rank\",\n          \"full_name\",\n          \"common_name\",\n          \"confidence\",\n          \"supporting_evidence\",\n          \"conflicting_evidence\",\n          \"reason\",\n          \"description\",\n          \"emergency\"\n        ]\n      }\n    },\n    \"error\": {\n      \"type\": \"string\",\n      \"description\": \"Error message when no clinical information is available to generate differential diagnosis.\"\n    }\n  },\n  \"required\": [\n    \"differential_diagnosis\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        224
      ],
      "id": "a6bd4c85-b1ce-4731-bf55-44c6889b5941",
      "name": "Structured Output Parser1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Clinical Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clinical Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Clinical Summary",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Clinical Summary": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "723c845b-fbbb-4cec-b191-c2275eec1978",
  "activeVersionId": "723c845b-fbbb-4cec-b191-c2275eec1978",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-11T08:58:56.246Z",
      "createdAt": "2026-04-11T08:58:56.246Z",
      "role": "workflow:owner",
      "workflowId": "0PBxBkENGytpEjNq",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": []
}
