definitions/Medical_Diagnosis_Benchmark.json
{
  "name": "Medical Diagnosis Benchmark",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-benchmark",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "11111111-1111-4444-a111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "medical-benchmark"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"You are a medical AI. Analyze the case below and provide exactly 3 differential diagnoses. Return ONLY a valid JSON array of strings.\\n\\nCase Details:\\n\" + $json.body.caseText\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "id": "22222222-2222-4444-a222-222222222222",
      "name": "LLM HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "diagnoses",
              "value": "={{ JSON.parse($json.data.candidates[0].content.parts[0].text) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4444-a333-333333333333",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LLM HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ibTh0cmjuUzfiiNK",
  "active": false,
  "updatedAt": "2026-05-02T09:39:08.603Z",
  "createdAt": "2026-04-18T13:20:50.430Z"
}
