definitions/mind-coach-session-end-orchestrator-v6-execute-workflow__1xntJU9IDNQ3tWle.json
{
  "updatedAt": "2026-03-31T03:50:09.902Z",
  "createdAt": "2026-03-26T03:22:02.368Z",
  "id": "1xntJU9IDNQ3tWle",
  "name": "Mind Coach - Session End Orchestrator v6 (Execute Workflow)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mind-coach-session-end",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1bfcfc3a-87c2-4208-a96a-8512a353e4c1",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        3296,
        3792
      ],
      "webhookId": "c69eae0d-abc2-4b46-9c0b-7cc3b4d5feb1"
    },
    {
      "parameters": {
        "jsCode": "const body = $node[\"Webhook1\"].json.body || {};\nconst messages = Array.isArray(body.messages) ? body.messages : [];\nconst transcript = (typeof body.transcript === 'string' && body.transcript.trim().length > 0)\n  ? body.transcript\n  : messages\n      .map((m) => (m.role === 'user' ? 'Client' : 'Therapist') + ': ' + String(m.content || ''))\n      .join('\\n');\n\nreturn [{\n  json: {\n    session_id: body.session_id || '',\n    profile_id: body.profile_id || '',\n    profile: body.profile || {},\n    session: body.session || {},\n    phase_context: body.phase_context || {},\n    currentPhase: body.currentPhase || body.phase_context?.current_phase || {},\n    messages,\n    transcript,\n    memories: Array.isArray(body.memories) ? body.memories : [],\n    current_memory: body.current_memory || null,\n    recent_case_notes: Array.isArray(body.recent_case_notes) ? body.recent_case_notes : [],\n    active_tasks: Array.isArray(body.active_tasks) ? body.active_tasks : [],\n    assessments: Array.isArray(body.assessments) ? body.assessments : [],\n    mood_entries: Array.isArray(body.mood_entries) ? body.mood_entries : [],\n    memory_workflow_id: body.memory_workflow_id || 'REPLACE_WITH_MEMORY_WORKFLOW_ID',\n    summary_workflow_id: body.summary_workflow_id || 'REPLACE_WITH_SUMMARY_WORKFLOW_ID',\n    readiness_workflow_id: body.readiness_workflow_id || 'REPLACE_WITH_READINESS_WORKFLOW_ID'\n  }\n}];"
      },
      "id": "294bbe4f-15bd-43f2-bef4-0090f1320ba6",
      "name": "Normalize Context1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        3792
      ]
    },
    {
      "parameters": {},
      "id": "0eceb50e-eff2-4312-97f6-6cd165b439e3",
      "name": "Merge Memory+Summary1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        3984,
        3696
      ]
    },
    {
      "parameters": {},
      "id": "f064b9f7-463b-492c-a366-8e36d07673e4",
      "name": "Merge All Branches1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        4208,
        3792
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "16c376cf-8de3-4dce-93a4-e8153aa617bc",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4656,
        3792
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FHwf1PMIrkN6T9j5",
          "mode": "id",
          "cachedResultUrl": "/workflow/FHwf1PMIrkN6T9j5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput",
      "position": [
        3760,
        3520
      ],
      "id": "168fd096-5a64-4dba-812c-a72fcee8ac82",
      "name": "Call 'Mind Coach - Session End Memory Agent v2 (Execute Trigger)'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WNCcZQDy6fcVL5RS",
          "mode": "id",
          "cachedResultUrl": "/workflow/WNCcZQDy6fcVL5RS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3760,
        3760
      ],
      "id": "6b84cf5d-672b-4cc0-a3e9-3a4332dd9c48",
      "name": "Call 'Mind Coach - Session End Summary Agent v2 (Execute Trigger)'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xE1TPYaF0MAZHO2W",
          "mode": "id",
          "cachedResultUrl": "/workflow/xE1TPYaF0MAZHO2W"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3776,
        4016
      ],
      "id": "4f913987-375a-408d-9a7e-92bf7249dcef",
      "name": "Call 'Mind Coach - Session End Readiness Agent v2 (Execute Trigger)'1"
    },
    {
      "parameters": {
        "jsCode": "const payloads = $input.all().map((i) => i.json || {});\nconst memory = payloads.find((p) => p.branch === 'memory');\nconst summary = payloads.find((p) => p.branch === 'summary');\nconst readiness = payloads.find((p) => p.branch === 'readiness');\n\nif (!summary) throw new Error('MERGE_ERROR: Missing summary branch response');\nif (!readiness) throw new Error('MERGE_ERROR: Missing readiness branch response');\nif (!summary.session_summary || !summary.case_notes_base) {\n  throw new Error('MERGE_ERROR: Invalid summary payload');\n}\n\nconst readinessRaw = String(readiness.readiness_for_next_phase || '').toLowerCase().trim();\nconst readinessForNextPhase = ['not_ready', 'approaching', 'ready'].includes(readinessRaw)\n  ? readinessRaw\n  : 'approaching';\n\nconst normalizeMemoryType = () => 'life_context';\nconst sanitizeMemories = (rows) => {\n  if (!Array.isArray(rows)) return [];\n  return rows\n    .map((m) => ({\n      memory_text: String(m?.memory_text || '').trim(),\n      memory_type: normalizeMemoryType(m?.memory_type),\n    }))\n    .filter((m) => m.memory_text.length > 0)\n    .slice(0, 1);\n};\n\nconst fallbackMemoryText =\n  String($node['Normalize Context1']?.json?.current_memory?.memory_text || '').trim() ||\n  'Client is in ongoing care. Preserve durable context and enrich in next session.';\n\nconst extractedMemoriesFromModel = sanitizeMemories(memory?.extracted_memories);\nconst memoryFallbackUsed = extractedMemoriesFromModel.length === 0;\nconst extractedMemories = memoryFallbackUsed\n  ? [{ memory_text: fallbackMemoryText, memory_type: 'life_context' }]\n  : extractedMemoriesFromModel;\n\nconst cnb = summary.case_notes_base;\nconst rc = Number(readiness.readiness_confidence);\nconst riskLevel = String(readiness.risk_level || 'low').toLowerCase();\nconst majorRisk = ['high', 'critical'].includes(riskLevel)\n  || Boolean(readiness.requires_escalation)\n  || Boolean(readiness.crisis_detected);\nconst completionScoreRaw = Number(summary.completion_score ?? summary.session_summary?.completion_score ?? (readinessForNextPhase === 'ready' ? 0.8 : 0.45));\nconst completionScore = Number.isFinite(completionScoreRaw)\n  ? Math.max(0, Math.min(1, completionScoreRaw))\n  : 0.45;\nconst objectiveSignal = typeof summary.objective_met === 'boolean'\n  ? summary.objective_met\n  : (completionScore >= 0.7 && !majorRisk);\nconst objectiveMet = majorRisk ? false : objectiveSignal;\nconst shouldAdvance = !majorRisk && objectiveMet && (readinessForNextPhase === 'ready' || readinessForNextPhase === 'approaching');\nconst recommendedNextAction = majorRisk\n  ? (Boolean(readiness.requires_escalation) ? 'escalate' : 'stabilize')\n  : (shouldAdvance ? 'advance' : (objectiveMet ? 'continue_in_phase' : 'revisit'));\n\nreturn [{\n  json: {\n    case_notes: {\n      presenting_concern: String(cnb.presenting_concern || ''),\n      dynamic_theme: String(cnb.dynamic_theme || ''),\n      phase_progress: String(cnb.phase_progress || ''),\n      phase_goal_movement: String(cnb.phase_goal_movement || 'none'),\n      next_session_focus: String(cnb.next_session_focus || ''),\n      readiness_for_next_phase: readinessForNextPhase,\n      risk_level: riskLevel,\n      requires_escalation: Boolean(readiness.requires_escalation),\n      crisis_detected: Boolean(readiness.crisis_detected),\n      readiness_rationale: String(readiness.readiness_rationale || ''),\n      readiness_confidence: Number.isFinite(rc) ? Math.min(1, Math.max(0, rc)) : 0.5,\n      next_session_handoff: String(readiness.next_session_handoff || ''),\n      phase_goal_evaluated: Boolean(readiness.phase_goal_evaluated),\n    },\n    session_summary: summary.session_summary,\n    extracted_tasks: Array.isArray(summary.extracted_tasks) ? summary.extracted_tasks : [],\n    extracted_memories: extractedMemories,\n    objective_met: objectiveMet,\n    completion_score: completionScore,\n    objective_confidence: Number.isFinite(Number(summary.objective_confidence))\n      ? Math.max(0, Math.min(1, Number(summary.objective_confidence)))\n      : completionScore,\n    recommended_adjustments: summary.recommended_adjustments && typeof summary.recommended_adjustments === 'object'\n      ? summary.recommended_adjustments\n      : {},\n    session_transition: {\n      objective_met: objectiveMet,\n      session_transition: objectiveMet,\n      recommended_next_action: recommendedNextAction,\n    },\n    phase_transition: {\n      phase_transition: shouldAdvance,\n      should_advance: shouldAdvance,\n      rationale: shouldAdvance\n        ? (readinessForNextPhase === 'ready' ? 'objective_met_and_ready' : 'objective_met_and_approaching')\n        : 'continue_current_phase',\n    },\n    agent_meta: {\n      architecture: 'parent_execute_workflow_children',\n      memory_agent_model: memory?.model || 'gpt-4o-mini',\n      summary_agent_model: summary.model || 'gpt-4o-mini',\n      readiness_agent_model: readiness.model || 'gpt-4o-mini',\n      memory_fallback_used: memoryFallbackUsed,\n      memory_error_message: String(memory?.error?.message || ''),\n      readiness_fallback_used: readinessForNextPhase !== readinessRaw,\n      phase_goal_movement: String(cnb.phase_goal_movement || 'none'),\n      phase_goal_evaluated: Boolean(readiness.phase_goal_evaluated),\n      next_session_focus: String(cnb.next_session_focus || ''),\n      next_session_handoff: String(readiness.next_session_handoff || ''),\n    }\n  }\n}];"
      },
      "id": "28722e32-37bc-4bb8-8275-14144bbe34da",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        3808
      ]
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Normalize Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context1": {
      "main": [
        [
          {
            "node": "Call 'Mind Coach - Session End Memory Agent v2 (Execute Trigger)'2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Mind Coach - Session End Summary Agent v2 (Execute Trigger)'2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Mind Coach - Session End Readiness Agent v2 (Execute Trigger)'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Memory+Summary1": {
      "main": [
        [
          {
            "node": "Merge All Branches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Branches1": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Mind Coach - Session End Memory Agent v2 (Execute Trigger)'2": {
      "main": [
        [
          {
            "node": "Merge Memory+Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Mind Coach - Session End Summary Agent v2 (Execute Trigger)'2": {
      "main": [
        [
          {
            "node": "Merge Memory+Summary1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'Mind Coach - Session End Readiness Agent v2 (Execute Trigger)'1": {
      "main": [
        [
          {
            "node": "Merge All Branches1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "body": {
            "session_id": "11111111-1111-1111-1111-111111111111",
            "profile_id": "22222222-2222-2222-2222-222222222222",
            "memory_workflow_id": "REPLACE_WITH_MEMORY_WORKFLOW_ID",
            "summary_workflow_id": "REPLACE_WITH_SUMMARY_WORKFLOW_ID",
            "readiness_workflow_id": "REPLACE_WITH_READINESS_WORKFLOW_ID",
            "messages": [
              {
                "role": "user",
                "content": "I spiraled before my team presentation.",
                "created_at": "2026-03-27T10:01:00.000Z"
              },
              {
                "role": "assistant",
                "content": "What thoughts showed up right before the spiral?",
                "created_at": "2026-03-27T10:01:25.000Z"
              },
              {
                "role": "user",
                "content": "That everyone would think I am incompetent.",
                "created_at": "2026-03-27T10:02:02.000Z"
              }
            ],
            "transcript": "Client: I spiraled before my team presentation.\\nTherapist: What thoughts showed up right before the spiral?\\nClient: That everyone would think I am incompetent.",
            "profile": {
              "id": "22222222-2222-2222-2222-222222222222",
              "name": "Aarav",
              "age": 29,
              "gender": "male",
              "concerns": [
                "anxiety",
                "overthinking"
              ],
              "therapist_persona": "maya"
            },
            "session": {
              "pathway": "anxiety_and_stress_management",
              "dynamic_theme": "Performance anxiety",
              "session_number": 4
            },
            "phase_context": {
              "current_phase_index": 1,
              "total_phases": 4,
              "current_phase": {
                "phase_number": 2,
                "name": "Cognitive Reframing",
                "goal": "Identify and restructure anxious thought loops"
              },
              "next_phase": {
                "phase_number": 3,
                "name": "Behavioral Practice",
                "goal": "Apply skills in real-world triggers"
              },
              "completed_in_current_phase": 2,
              "target_sessions_in_current_phase": 3
            },
            "current_memory": {
              "memory_text": "Aarav experiences anticipatory anxiety before public speaking and tends to catastrophize peer judgment.",
              "memory_type": "life_context",
              "created_at": "2026-03-25T09:00:00.000Z"
            },
            "recent_case_notes": [
              {
                "dynamic_theme": "Fear of negative evaluation",
                "phase_progress": "Can identify automatic thoughts but struggles to challenge them independently"
              }
            ],
            "active_tasks": [
              {
                "task_type": "journaling",
                "dynamic_title": "Thought log before meetings",
                "dynamic_description": "Capture trigger-thought-emotion for each major meeting",
                "status": "active"
              }
            ],
            "assessments": [
              {
                "assessment_type": "gad7",
                "total_score": 11,
                "severity": "moderate",
                "created_at": "2026-03-20T08:00:00.000Z"
              }
            ],
            "mood_entries": [
              {
                "score": 5,
                "notes": "Nervous before standup",
                "created_at": "2026-03-26T07:45:00.000Z"
              },
              {
                "score": 7,
                "notes": "Felt better after breathing",
                "created_at": "2026-03-27T11:00:00.000Z"
              }
            ]
          }
        }
      }
    ]
  },
  "versionId": "5968fbdf-24b6-4913-ad1e-8c6bde9c324b",
  "activeVersionId": "5968fbdf-24b6-4913-ad1e-8c6bde9c324b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-26T03:22:02.368Z",
      "createdAt": "2026-03-26T03:22:02.368Z",
      "role": "workflow:owner",
      "workflowId": "1xntJU9IDNQ3tWle",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-28T09:07:04.899Z",
    "createdAt": "2026-03-28T09:07:03.421Z",
    "versionId": "5968fbdf-24b6-4913-ad1e-8c6bde9c324b",
    "workflowId": "1xntJU9IDNQ3tWle",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "mind-coach-session-end",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "1bfcfc3a-87c2-4208-a96a-8512a353e4c1",
        "name": "Webhook1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          3296,
          3792
        ],
        "webhookId": "c69eae0d-abc2-4b46-9c0b-7cc3b4d5feb1"
      },
      {
        "parameters": {
          "jsCode": "const body = $node[\"Webhook1\"].json.body || {};\nconst messages = Array.isArray(body.messages) ? body.messages : [];\nconst transcript = (typeof body.transcript === 'string' && body.transcript.trim().length > 0)\n  ? body.transcript\n  : messages\n      .map((m) => (m.role === 'user' ? 'Client' : 'Therapist') + ': ' + String(m.content || ''))\n      .join('\\n');\n\nreturn [{\n  json: {\n    session_id: body.session_id || '',\n    profile_id: body.profile_id || '',\n    profile: body.profile || {},\n    session: body.session || {},\n    phase_context: body.phase_context || {},\n    currentPhase: body.currentPhase || body.phase_context?.current_phase || {},\n    messages,\n    transcript,\n    memories: Array.isArray(body.memories) ? body.memories : [],\n    current_memory: body.current_memory || null,\n    recent_case_notes: Array.isArray(body.recent_case_notes) ? body.recent_case_notes : [],\n    active_tasks: Array.isArray(body.active_tasks) ? body.active_tasks : [],\n    assessments: Array.isArray(body.assessments) ? body.assessments : [],\n    mood_entries: Array.isArray(body.mood_entries) ? body.mood_entries : [],\n    memory_workflow_id: body.memory_workflow_id || 'REPLACE_WITH_MEMORY_WORKFLOW_ID',\n    summary_workflow_id: body.summary_workflow_id || 'REPLACE_WITH_SUMMARY_WORKFLOW_ID',\n    readiness_workflow_id: body.readiness_workflow_id || 'REPLACE_WITH_READINESS_WORKFLOW_ID'\n  }\n}];"
        },
        "id": "294bbe4f-15bd-43f2-bef4-0090f1320ba6",
        "name": "Normalize Context1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3504,
          3792
        ]
      },
      {
        "parameters": {},
        "id": "0eceb50e-eff2-4312-97f6-6cd165b439e3",
        "name": "Merge Memory+Summary1",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          3984,
          3696
        ]
      },
      {
        "parameters": {},
        "id": "f064b9f7-463b-492c-a366-8e36d07673e4",
        "name": "Merge All Branches1",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          4208,
          3792
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "16c376cf-8de3-4dce-93a4-e8153aa617bc",
        "name": "Respond to Webhook1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          4656,
          3792
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "FHwf1PMIrkN6T9j5",
            "mode": "id",
            "cachedResultUrl": "/workflow/FHwf1PMIrkN6T9j5"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3760,
          3520
        ],
        "id": "168fd096-5a64-4dba-812c-a72fcee8ac82",
        "name": "Call 'Mind Coach - Session End Memory Agent v2 (Execute Trigger)'2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "WNCcZQDy6fcVL5RS",
            "mode": "id",
            "cachedResultUrl": "/workflow/WNCcZQDy6fcVL5RS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3760,
          3760
        ],
        "id": "6b84cf5d-672b-4cc0-a3e9-3a4332dd9c48",
        "name": "Call 'Mind Coach - Session End Summary Agent v2 (Execute Trigger)'2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xE1TPYaF0MAZHO2W",
            "mode": "id",
            "cachedResultUrl": "/workflow/xE1TPYaF0MAZHO2W"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3776,
          4016
        ],
        "id": "4f913987-375a-408d-9a7e-92bf7249dcef",
        "name": "Call 'Mind Coach - Session End Readiness Agent v2 (Execute Trigger)'1"
      },
      {
        "parameters": {
          "jsCode": "const payloads = $input.all().map((i) => i.json || {});\nconst memory = payloads.find((p) => p.branch === 'memory');\nconst summary = payloads.find((p) => p.branch === 'summary');\nconst readiness = payloads.find((p) => p.branch === 'readiness');\n\nif (!summary) throw new Error('MERGE_ERROR: Missing summary branch response');\nif (!readiness) throw new Error('MERGE_ERROR: Missing readiness branch response');\nif (!summary.session_summary || !summary.case_notes_base) {\n  throw new Error('MERGE_ERROR: Invalid summary payload');\n}\n\nconst readinessRaw = String(readiness.readiness_for_next_phase || '').toLowerCase().trim();\nconst readinessForNextPhase = ['not_ready', 'approaching', 'ready'].includes(readinessRaw)\n  ? readinessRaw\n  : 'approaching';\n\nconst normalizeMemoryType = () => 'life_context';\nconst sanitizeMemories = (rows) => {\n  if (!Array.isArray(rows)) return [];\n  return rows\n    .map((m) => ({\n      memory_text: String(m?.memory_text || '').trim(),\n      memory_type: normalizeMemoryType(m?.memory_type),\n    }))\n    .filter((m) => m.memory_text.length > 0)\n    .slice(0, 1);\n};\n\nconst fallbackMemoryText =\n  String($node['Normalize Context1']?.json?.current_memory?.memory_text || '').trim() ||\n  'Client is in ongoing care. Preserve durable context and enrich in next session.';\n\nconst extractedMemoriesFromModel = sanitizeMemories(memory?.extracted_memories);\nconst memoryFallbackUsed = extractedMemoriesFromModel.length === 0;\nconst extractedMemories = memoryFallbackUsed\n  ? [{ memory_text: fallbackMemoryText, memory_type: 'life_context' }]\n  : extractedMemoriesFromModel;\n\nconst cnb = summary.case_notes_base;\nconst rc = Number(readiness.readiness_confidence);\nconst riskLevel = String(readiness.risk_level || 'low').toLowerCase();\nconst majorRisk = ['high', 'critical'].includes(riskLevel)\n  || Boolean(readiness.requires_escalation)\n  || Boolean(readiness.crisis_detected);\nconst completionScoreRaw = Number(summary.completion_score ?? summary.session_summary?.completion_score ?? (readinessForNextPhase === 'ready' ? 0.8 : 0.45));\nconst completionScore = Number.isFinite(completionScoreRaw)\n  ? Math.max(0, Math.min(1, completionScoreRaw))\n  : 0.45;\nconst objectiveSignal = typeof summary.objective_met === 'boolean'\n  ? summary.objective_met\n  : (completionScore >= 0.7 && !majorRisk);\nconst objectiveMet = majorRisk ? false : objectiveSignal;\nconst shouldAdvance = !majorRisk && objectiveMet && (readinessForNextPhase === 'ready' || readinessForNextPhase === 'approaching');\nconst recommendedNextAction = majorRisk\n  ? (Boolean(readiness.requires_escalation) ? 'escalate' : 'stabilize')\n  : (shouldAdvance ? 'advance' : (objectiveMet ? 'continue_in_phase' : 'revisit'));\n\nreturn [{\n  json: {\n    case_notes: {\n      presenting_concern: String(cnb.presenting_concern || ''),\n      dynamic_theme: String(cnb.dynamic_theme || ''),\n      phase_progress: String(cnb.phase_progress || ''),\n      phase_goal_movement: String(cnb.phase_goal_movement || 'none'),\n      next_session_focus: String(cnb.next_session_focus || ''),\n      readiness_for_next_phase: readinessForNextPhase,\n      risk_level: riskLevel,\n      requires_escalation: Boolean(readiness.requires_escalation),\n      crisis_detected: Boolean(readiness.crisis_detected),\n      readiness_rationale: String(readiness.readiness_rationale || ''),\n      readiness_confidence: Number.isFinite(rc) ? Math.min(1, Math.max(0, rc)) : 0.5,\n      next_session_handoff: String(readiness.next_session_handoff || ''),\n      phase_goal_evaluated: Boolean(readiness.phase_goal_evaluated),\n    },\n    session_summary: summary.session_summary,\n    extracted_tasks: Array.isArray(summary.extracted_tasks) ? summary.extracted_tasks : [],\n    extracted_memories: extractedMemories,\n    objective_met: objectiveMet,\n    completion_score: completionScore,\n    objective_confidence: Number.isFinite(Number(summary.objective_confidence))\n      ? Math.max(0, Math.min(1, Number(summary.objective_confidence)))\n      : completionScore,\n    recommended_adjustments: summary.recommended_adjustments && typeof summary.recommended_adjustments === 'object'\n      ? summary.recommended_adjustments\n      : {},\n    session_transition: {\n      objective_met: objectiveMet,\n      session_transition: objectiveMet,\n      recommended_next_action: recommendedNextAction,\n    },\n    phase_transition: {\n      phase_transition: shouldAdvance,\n      should_advance: shouldAdvance,\n      rationale: shouldAdvance ? 'objective_met_and_ready' : 'continue_current_phase',\n    },\n    agent_meta: {\n      architecture: 'parent_execute_workflow_children',\n      memory_agent_model: memory?.model || 'gpt-4o-mini',\n      summary_agent_model: summary.model || 'gpt-4o-mini',\n      readiness_agent_model: readiness.model || 'gpt-4o-mini',\n      memory_fallback_used: memoryFallbackUsed,\n      memory_error_message: String(memory?.error?.message || ''),\n      readiness_fallback_used: readinessForNextPhase !== readinessRaw,\n      phase_goal_movement: String(cnb.phase_goal_movement || 'none'),\n      phase_goal_evaluated: Boolean(readiness.phase_goal_evaluated),\n      next_session_focus: String(cnb.next_session_focus || ''),\n      next_session_handoff: String(readiness.next_session_handoff || ''),\n    }\n  }\n}];"
        },
        "id": "28722e32-37bc-4bb8-8275-14144bbe34da",
        "name": "Merge Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4432,
          3808
        ]
      }
    ],
    "connections": {
      "Webhook1": {
        "main": [
          [
            {
              "node": "Normalize Context1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Context1": {
        "main": [
          [
            {
              "node": "Call 'Mind Coach - Session End Memory Agent v2 (Execute Trigger)'2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call 'Mind Coach - Session End Summary Agent v2 (Execute Trigger)'2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call 'Mind Coach - Session End Readiness Agent v2 (Execute Trigger)'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Memory+Summary1": {
        "main": [
          [
            {
              "node": "Merge All Branches1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All Branches1": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Mind Coach - Session End Memory Agent v2 (Execute Trigger)'2": {
        "main": [
          [
            {
              "node": "Merge Memory+Summary1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Mind Coach - Session End Summary Agent v2 (Execute Trigger)'2": {
        "main": [
          [
            {
              "node": "Merge Memory+Summary1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Call 'Mind Coach - Session End Readiness Agent v2 (Execute Trigger)'1": {
        "main": [
          [
            {
              "node": "Merge All Branches1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Results": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Saksham Agrawal",
    "name": "Version 5968fbdf",
    "description": "",
    "autosaved": false
  },
  "tags": []
}
