definitions/mind-coach-session-end-memory-agent-v2-execute-trigger__FHwf1PMIrkN6T9j5.json
{
  "updatedAt": "2026-05-06T14:59:09.417Z",
  "createdAt": "2026-03-27T14:29:18.776Z",
  "id": "FHwf1PMIrkN6T9j5",
  "name": "Mind Coach - Session End Memory Agent v2 (Execute Trigger)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a35bdf63-6229-4393-a80d-236646235fd0",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        192,
        -176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].userPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.data[0].systemPrompt }}"
        }
      },
      "id": "63e40645-b15c-4a72-9264-c9935165a809",
      "name": "Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        768,
        -192
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "cd52dd49-61ef-46bb-9415-2c747161a2f2",
      "name": "LLM1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"extracted_memories\": {\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"maxItems\": 3,\n      \"items\": {\n        \"anyOf\": [\n          {\n            \"type\": \"object\",\n            \"properties\": {\n              \"memory_text\": { \"type\": \"string\" },\n              \"memory_type\": {\n                \"type\": \"string\",\n                \"enum\": [\"life_context\"],\n                \"default\": \"life_context\"\n              }\n            },\n            \"required\": [\"memory_text\"],\n            \"additionalProperties\": true\n          },\n          {\n            \"type\": \"string\"\n          }\n        ]\n      }\n    },\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"extracted_memories\": {\n          \"type\": \"array\",\n          \"minItems\": 1,\n          \"maxItems\": 3,\n          \"items\": {\n            \"anyOf\": [\n              {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"memory_text\": { \"type\": \"string\" },\n                  \"memory_type\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"life_context\"],\n                    \"default\": \"life_context\"\n                  }\n                },\n                \"required\": [\"memory_text\"],\n                \"additionalProperties\": true\n              },\n              { \"type\": \"string\" }\n            ]\n          }\n        }\n      },\n      \"additionalProperties\": true\n    }\n  },\n  \"anyOf\": [\n    { \"required\": [\"extracted_memories\"] },\n    { \"required\": [\"output\"] }\n  ],\n  \"additionalProperties\": true\n}",
        "autoFix": false
      },
      "id": "2f4e3ee4-27c5-410a-a003-aa4ee834d390",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        944,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json || {};\nconst profile = d.profile || {};\nconst session = d.session || {};\nconst currentMemory = d.current_memory?.memory_text || d.current_memory?.text || 'None recorded';\nconst systemPrompt = [\n  'You are a clinical memory synthesizer for an AI therapist.',\n  'Generate exactly one updated consolidated long-term memory block for the patient.',\n  'Preserve durable facts that you receive from the current consolidated memory and integrate meaningful updates from this session data to form a complete picture of the patient from a mental health point of view',\n  'Return ONLY valid JSON.'\n].join('\\n');\nconst userPrompt = [\n  'CLIENT CONTEXT:', JSON.stringify({ name: profile.name || 'User', concerns: profile.concerns || [], pathway: session.pathway || '' }),\n  '', 'CURRENT CONSOLIDATED MEMORY:', String(currentMemory),\n  '', 'RECENT CASE NOTES:', JSON.stringify(d.recent_case_notes || []),\n  '', 'MESSAGES:', JSON.stringify(d.messages || []),\n  '', 'TRANSCRIPT:', d.transcript || '',\n  '', 'Return JSON schema: {\"extracted_memories\":[{\"memory_text\":\"string\",\"memory_type\":\"life_context\"}]}'\n].join('\\n');\nreturn [{ json: { systemPrompt, userPrompt } }];"
      },
      "id": "e97163c8-23d7-4b6c-b330-98b26261e877",
      "name": "Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -176
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        576,
        -176
      ],
      "id": "1bee5f12-b7a2-4e54-8060-840fdaf8abfb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value) {\n  if (typeof value !== 'string') return null;\n  try { return JSON.parse(value); } catch { return null; }\n}\n\nfunction pickSource(payload) {\n  if (!payload || typeof payload !== 'object') return {};\n  if (payload.output && typeof payload.output === 'object') {\n    if (payload.output.output && typeof payload.output.output === 'object') return payload.output.output;\n    return payload.output;\n  }\n  const parsedOutput = parseMaybeJson(payload.output);\n  if (parsedOutput && typeof parsedOutput === 'object') return parsedOutput;\n  if (payload.data && typeof payload.data === 'object') return payload.data;\n  return payload;\n}\n\nfunction normalizeMemories(raw) {\n  const items = Array.isArray(raw) ? raw : [];\n  const out = [];\n\n  for (const item of items) {\n    if (item && typeof item === 'object' && typeof item.memory_text === 'string' && item.memory_text.trim()) {\n      out.push({\n        memory_text: item.memory_text.trim(),\n        memory_type: 'life_context',\n      });\n      continue;\n    }\n\n    if (typeof item === 'string') {\n      const trimmed = item.trim();\n      if (!trimmed) continue;\n      if (trimmed.toLowerCase().startsWith('memory_type')) continue;\n      if (trimmed.toLowerCase() === 'life_context') continue;\n      out.push({ memory_text: trimmed, memory_type: 'life_context' });\n      continue;\n    }\n  }\n\n  if (out.length === 0) {\n    return [];\n  }\n\n  return [out[0]];\n}\n\nconst source = pickSource($json);\nconst unwrapped =\n  source && typeof source === 'object' && source.output && typeof source.output === 'object'\n    ? source.output\n    : source;\n\nreturn [{\n  json: {\n    branch: 'memory',\n    model: 'gpt-4o-mini',\n    extracted_memories: normalizeMemories(unwrapped.extracted_memories)\n  }\n}];"
      },
      "id": "324eefcb-cc17-40f3-b6a1-ffdd3b4b6a43",
      "name": "Wrap Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -192
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent1": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "session_id": "11111111-1111-1111-1111-111111111111",
          "profile_id": "22222222-2222-2222-2222-222222222222",
          "profile": {
            "id": "22222222-2222-2222-2222-222222222222",
            "name": "Aarav",
            "age": 29,
            "gender": "male",
            "concerns": [
              "anxiety",
              "overthinking"
            ],
            "therapist_persona": "maya"
          },
          "session": {
            "pathway": "anxiety_and_stress_management",
            "dynamic_theme": "Performance anxiety",
            "session_number": 4
          },
          "phase_context": {
            "current_phase_index": 1,
            "total_phases": 4,
            "current_phase": {
              "phase_number": 2,
              "name": "Cognitive Reframing",
              "goal": "Identify and restructure anxious thought loops"
            },
            "next_phase": {
              "phase_number": 3,
              "name": "Behavioral Practice",
              "goal": "Apply skills in real-world triggers"
            },
            "completed_in_current_phase": 2,
            "target_sessions_in_current_phase": 3
          },
          "currentPhase": {
            "phase_number": 2,
            "name": "Cognitive Reframing",
            "goal": "Identify and restructure anxious thought loops"
          },
          "messages": [
            {
              "role": "user",
              "content": "I spiraled before my team presentation.",
              "created_at": "2026-03-27T10:01:00.000Z"
            },
            {
              "role": "assistant",
              "content": "What thoughts showed up right before the spiral?",
              "created_at": "2026-03-27T10:01:25.000Z"
            },
            {
              "role": "user",
              "content": "That everyone would think I am incompetent.",
              "created_at": "2026-03-27T10:02:02.000Z"
            }
          ],
          "transcript": "Client: I spiraled before my team presentation.\\nTherapist: What thoughts showed up right before the spiral?\\nClient: That everyone would think I am incompetent.",
          "memories": [],
          "current_memory": {
            "memory_text": "Aarav experiences anticipatory anxiety before public speaking and tends to catastrophize peer judgment.",
            "memory_type": "life_context",
            "created_at": "2026-03-25T09:00:00.000Z"
          },
          "recent_case_notes": [
            {
              "dynamic_theme": "Fear of negative evaluation",
              "phase_progress": "Can identify automatic thoughts but struggles to challenge them independently"
            }
          ],
          "active_tasks": [
            {
              "task_type": "journaling",
              "dynamic_title": "Thought log before meetings",
              "dynamic_description": "Capture trigger-thought-emotion for each major meeting",
              "status": "active"
            }
          ],
          "assessments": [
            {
              "assessment_type": "gad7",
              "total_score": 11,
              "severity": "moderate",
              "created_at": "2026-03-20T08:00:00.000Z"
            }
          ],
          "mood_entries": [
            {
              "score": 5,
              "notes": "Nervous before standup",
              "created_at": "2026-03-26T07:45:00.000Z"
            },
            {
              "score": 7,
              "notes": "Felt better after breathing",
              "created_at": "2026-03-27T11:00:00.000Z"
            }
          ],
          "memory_workflow_id": "REPLACE_WITH_MEMORY_WORKFLOW_ID",
          "summary_workflow_id": "REPLACE_WITH_SUMMARY_WORKFLOW_ID",
          "readiness_workflow_id": "REPLACE_WITH_READINESS_WORKFLOW_ID"
        }
      }
    ]
  },
  "versionId": "ac6f1193-4801-48e1-bfe2-de54ae5cdfe4",
  "activeVersionId": "ac6f1193-4801-48e1-bfe2-de54ae5cdfe4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T14:29:18.776Z",
      "createdAt": "2026-03-27T14:29:18.776Z",
      "role": "workflow:owner",
      "workflowId": "FHwf1PMIrkN6T9j5",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": []
}
