definitions/TradingAgents_Market_Analyst.json
{
  "name": "TradingAgents - Market Analyst",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.ticker}} on {{$json.date}}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Market Analyst. Review technical indicators and provide a technical rating for a short-term 24-hour hold."
        }
      },
      "id": "agent-node",
      "name": "Market Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.tiingo.com/tiingo/daily/{{$json.ticker}}/prices",
        "sendHeaders": false,
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "tool-node",
      "name": "Technical Indicator Tool (Tiingo)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jEo9N4yIEkuPj5Df",
          "name": "Tiingo Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Market Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Technical Indicator Tool (Tiingo)": {
      "ai_tool": [
        [
          {
            "node": "Market Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "YeGEiKF7ZndLF8YN",
  "updatedAt": "2026-05-02T09:39:09.073Z",
  "createdAt": "2026-05-02T06:46:04.494Z"
}
