definitions/tradingagents-social-media-analyst__bREGC66gC2ppRSio.json
{
  "updatedAt": "2026-05-06T14:44:53.850Z",
  "createdAt": "2026-05-02T06:46:04.691Z",
  "id": "bREGC66gC2ppRSio",
  "name": "TradingAgents - Social Media Analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Market: ' + String($json.market || '') + '\\n' + $json.ticker + ' on ' + $json.date + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? ' — Reference price at run (from app): ' + String($json.execution_price) : '') }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Social Media Analyst. For crypto assets, use the LunarCrush tool to get Galaxy Score and social volume. For US/Indian equities, the LunarCrush tool may not return data - in that case, use your knowledge of general market sentiment and any observable retail interest patterns for this ticker. Assess short-term social sentiment (bullish/bearish/neutral) for the next 24 hours.\n\nYour response MUST end with a line starting with SOCIAL_SIGNAL: followed by compact JSON.\nExample: SOCIAL_SIGNAL: {\"sentiment\":\"BULLISH\",\"hype_level\":\"HIGH\",\"confidence\":\"Medium\",\"data_source\":\"lunarcrush\"}"
        }
      },
      "id": "agent-node",
      "name": "Social Media Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://lunarcrush.com/api/4/public/coins/{{$json.ticker.toUpperCase()}}/meta",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "specifySchema": true,
        "schemaType": "json",
        "jsonSchema": "{\"type\": \"object\", \"properties\": {\"ticker\": {\"type\": \"string\", \"description\": \"The stock ticker symbol (e.g. AAPL, MSFT)\"}}, \"required\": [\"ticker\"]}"
      },
      "id": "tool-node",
      "name": "Social Sentiment Tool (LunarCrush)",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "p9h7gEqpN0UA9E32",
          "name": "LunarCrush Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Social Media Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Social Sentiment Tool (LunarCrush)": {
      "ai_tool": [
        [
          {
            "node": "Social Media Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c46615f2-b310-402f-b204-15a703b5c98c",
  "activeVersionId": "c46615f2-b310-402f-b204-15a703b5c98c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:04.691Z",
      "createdAt": "2026-05-02T06:46:04.691Z",
      "role": "workflow:owner",
      "workflowId": "bREGC66gC2ppRSio",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
