definitions/tradingagents-supervisor-orchestrator__UDRkHgYzqs3GBaat.json
{
  "updatedAt": "2026-05-04T03:19:23.971Z",
  "createdAt": "2026-05-01T16:31:02.684Z",
  "id": "UDRkHgYzqs3GBaat",
  "name": "TradingAgents - Supervisor Orchestrator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trading-agents-run",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-supervisor-node",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        64,
        80
      ],
      "webhookId": "trading-agents-run"
    },
    {
      "parameters": {
        "workflowId": "YeGEiKF7ZndLF8YN",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.ticker !== undefined ? $('Webhook (Trigger)').first().json.body.ticker : $('Webhook (Trigger)').first().json.ticker }}",
            "date": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.date !== undefined ? $('Webhook (Trigger)').first().json.body.date : $('Webhook (Trigger)').first().json.date }}",
            "session_id": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.session_id !== undefined ? $('Webhook (Trigger)').first().json.body.session_id : $('Webhook (Trigger)').first().json.session_id }}",
            "execution_price": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.execution_price !== undefined && $('Webhook (Trigger)').first().json.body.execution_price !== null ? $('Webhook (Trigger)').first().json.body.execution_price : ($('Webhook (Trigger)').first().json.execution_price !== undefined ? $('Webhook (Trigger)').first().json.execution_price : null) }}"
          }
        }
      },
      "id": "execute-market-analyst",
      "name": "Call Market Analyst Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        336,
        -208
      ]
    },
    {
      "parameters": {
        "workflowId": "TIJbwjW9wXs7Nz0f",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.ticker !== undefined ? $('Webhook (Trigger)').first().json.body.ticker : $('Webhook (Trigger)').first().json.ticker }}",
            "date": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.date !== undefined ? $('Webhook (Trigger)').first().json.body.date : $('Webhook (Trigger)').first().json.date }}",
            "session_id": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.session_id !== undefined ? $('Webhook (Trigger)').first().json.body.session_id : $('Webhook (Trigger)').first().json.session_id }}",
            "execution_price": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.execution_price !== undefined && $('Webhook (Trigger)').first().json.body.execution_price !== null ? $('Webhook (Trigger)').first().json.body.execution_price : ($('Webhook (Trigger)').first().json.execution_price !== undefined ? $('Webhook (Trigger)').first().json.execution_price : null) }}"
          }
        }
      },
      "id": "execute-news-analyst",
      "name": "Call News Analyst Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        336,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": "qXgHkMpiqmOJqDqv",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.ticker !== undefined ? $('Webhook (Trigger)').first().json.body.ticker : $('Webhook (Trigger)').first().json.ticker }}",
            "date": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.date !== undefined ? $('Webhook (Trigger)').first().json.body.date : $('Webhook (Trigger)').first().json.date }}",
            "session_id": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.session_id !== undefined ? $('Webhook (Trigger)').first().json.body.session_id : $('Webhook (Trigger)').first().json.session_id }}",
            "execution_price": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.execution_price !== undefined && $('Webhook (Trigger)').first().json.body.execution_price !== null ? $('Webhook (Trigger)').first().json.body.execution_price : ($('Webhook (Trigger)').first().json.execution_price !== undefined ? $('Webhook (Trigger)').first().json.execution_price : null) }}"
          }
        }
      },
      "id": "execute-fundamentals-analyst",
      "name": "Call Fundamentals Analyst Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        288,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "bREGC66gC2ppRSio",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.ticker !== undefined ? $('Webhook (Trigger)').first().json.body.ticker : $('Webhook (Trigger)').first().json.ticker }}",
            "date": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.date !== undefined ? $('Webhook (Trigger)').first().json.body.date : $('Webhook (Trigger)').first().json.date }}",
            "session_id": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.session_id !== undefined ? $('Webhook (Trigger)').first().json.body.session_id : $('Webhook (Trigger)').first().json.session_id }}",
            "execution_price": "={{ $('Webhook (Trigger)').first().json.body && $('Webhook (Trigger)').first().json.body.execution_price !== undefined && $('Webhook (Trigger)').first().json.body.execution_price !== null ? $('Webhook (Trigger)').first().json.body.execution_price : ($('Webhook (Trigger)').first().json.execution_price !== undefined ? $('Webhook (Trigger)').first().json.execution_price : null) }}"
          }
        }
      },
      "id": "execute-social-analyst",
      "name": "Call Social Analyst Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        288,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-market-news",
      "name": "Merge Market And News",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        768,
        96
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-fundamentals-social",
      "name": "Merge Fundamentals And Social",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        768,
        464
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-analyst-groups",
      "name": "Merge Analyst Groups",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        992,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const root = $('Webhook (Trigger)').first().json.body || $('Webhook (Trigger)').first().json;\nconst read = (nodeName) => {\n  try {\n    const data = $node[nodeName].json;\n    return data.output || data.text || data.content || JSON.stringify(data);\n  } catch (error) {\n    return `No output from ${nodeName}`;\n  }\n};\nreturn [{ json: {\n  ticker: root.ticker,\n  date: root.date,\n  session_id: root.session_id,\n  execution_price: root.execution_price !== undefined && root.execution_price !== null ? root.execution_price : null,\n  market_report: read('Call Market Analyst Sub-workflow'),\n  news_report: read('Call News Analyst Sub-workflow'),\n  fundamentals_report: read('Call Fundamentals Analyst Sub-workflow'),\n  social_report: read('Call Social Analyst Sub-workflow')\n}}];"
      },
      "id": "prepare-analyst-context",
      "name": "Prepare Analyst Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "AUTiS5Q4Eh5r2KXQ",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $json.ticker }}",
            "date": "={{ $json.date }}",
            "session_id": "={{ $json.session_id }}",
            "execution_price": "={{ $json.execution_price }}",
            "market_report": "={{ $json.market_report }}",
            "news_report": "={{ $json.news_report }}",
            "fundamentals_report": "={{ $json.fundamentals_report }}",
            "social_report": "={{ $json.social_report }}"
          }
        }
      },
      "id": "execute-bull-researcher",
      "name": "Call Bull Researcher Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1472,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": "IgQ0ooBfvg4oPsST",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $json.ticker }}",
            "date": "={{ $json.date }}",
            "session_id": "={{ $json.session_id }}",
            "execution_price": "={{ $json.execution_price }}",
            "market_report": "={{ $json.market_report }}",
            "news_report": "={{ $json.news_report }}",
            "fundamentals_report": "={{ $json.fundamentals_report }}",
            "social_report": "={{ $json.social_report }}"
          }
        }
      },
      "id": "execute-bear-researcher",
      "name": "Call Bear Researcher Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1456,
        576
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-debate-reports",
      "name": "Merge Debate Reports",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1792,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Analyst Context').first().json;\nconst read = (nodeName) => {\n  try {\n    const data = $node[nodeName].json;\n    return data.output || data.text || data.content || JSON.stringify(data);\n  } catch (error) {\n    return `No output from ${nodeName}`;\n  }\n};\nreturn [{ json: {\n  ...base,\n  bull_report: read('Call Bull Researcher Sub-workflow'),\n  bear_report: read('Call Bear Researcher Sub-workflow')\n}}];"
      },
      "id": "prepare-debate-context",
      "name": "Prepare Debate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "DXp8YLaipORggHwr",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $json.ticker }}",
            "date": "={{ $json.date }}",
            "session_id": "={{ $json.session_id }}",
            "execution_price": "={{ $json.execution_price }}",
            "market_report": "={{ $json.market_report }}",
            "news_report": "={{ $json.news_report }}",
            "fundamentals_report": "={{ $json.fundamentals_report }}",
            "social_report": "={{ $json.social_report }}",
            "bull_report": "={{ $json.bull_report }}",
            "bear_report": "={{ $json.bear_report }}"
          }
        }
      },
      "id": "execute-research-manager",
      "name": "Call Research Manager Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2112,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Debate Context').first().json;\nconst manager = $node['Call Research Manager Sub-workflow'].json;\nreturn [{ json: {\n  ...base,\n  manager_report: manager.output || manager.text || manager.content || JSON.stringify(manager)\n}}];"
      },
      "id": "prepare-manager-context",
      "name": "Prepare Manager Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "53Li8sbHz5IsPyNr",
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ $json.ticker }}",
            "date": "={{ $json.date }}",
            "session_id": "={{ $json.session_id }}",
            "execution_price": "={{ $json.execution_price }}",
            "manager_report": "={{ $json.manager_report }}",
            "bull_report": "={{ $json.bull_report }}",
            "bear_report": "={{ $json.bear_report }}",
            "market_report": "={{ $json.market_report }}",
            "news_report": "={{ $json.news_report }}",
            "fundamentals_report": "={{ $json.fundamentals_report }}",
            "social_report": "={{ $json.social_report }}"
          }
        }
      },
      "id": "execute-portfolio-manager",
      "name": "Call Portfolio Manager Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2592,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Manager Context').first().json;\nconst portfolioRaw = $node['Call Portfolio Manager Sub-workflow'].json;\nconst portfolioText = portfolioRaw.output || portfolioRaw.text || portfolioRaw.content || JSON.stringify(portfolioRaw);\nlet portfolioDecision = portfolioText;\ntry {\n  portfolioDecision = JSON.parse(portfolioText);\n} catch (error) {\n  const match = String(portfolioText).match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { portfolioDecision = JSON.parse(match[0]); } catch (_) {}\n  }\n}\n// logs streamed live via \"Push Log — *\" HTTP nodes → append_agent_log; keep empty so Edge does not bulk-insert duplicates.\nreturn [{ json: {\n  session_id: base.session_id,\n  ticker: base.ticker,\n  portfolio_decision: portfolioDecision,\n  logs: []\n}}];"
      },
      "id": "format-supervisor-response",
      "name": "Format Supervisor Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'Market Analyst', log_type: 'research', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-market-analyst",
      "name": "Push Log — Market Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        -304
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'News Analyst', log_type: 'research', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-news-analyst",
      "name": "Push Log — News Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        464,
        -32
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'Fundamentals Analyst', log_type: 'research', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-fundamentals-analyst",
      "name": "Push Log — Fundamentals Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        432,
        432
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'Social Media Analyst', log_type: 'research', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-social-analyst",
      "name": "Push Log — Social Media Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        432,
        624
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'Bull Researcher', log_type: 'debate', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-bull-researcher",
      "name": "Push Log — Bull Researcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1632,
        -240
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'Bear Researcher', log_type: 'debate', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-bear-researcher",
      "name": "Push Log — Bear Researcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1664,
        640
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'append_agent_log', session_id: $('Webhook (Trigger)').first().json.body.session_id || $('Webhook (Trigger)').first().json.session_id, agent_role: 'Research Manager', log_type: 'research', content: String($json.output || $json.text || $json.content || JSON.stringify($json)).slice(0, 100000) }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "ta-push-log-research-manager",
      "name": "Push Log — Research Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2288,
        80
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "TaSupPrxyFn26ab2",
          "name": "Supabase trading-agents-proxy"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Call Market Analyst Sub-workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call News Analyst Sub-workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Fundamentals Analyst Sub-workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Social Analyst Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Market Analyst Sub-workflow": {
      "main": [
        [
          {
            "node": "Merge Market And News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Log — Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call News Analyst Sub-workflow": {
      "main": [
        [
          {
            "node": "Merge Market And News",
            "type": "main",
            "index": 1
          },
          {
            "node": "Push Log — News Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Fundamentals Analyst Sub-workflow": {
      "main": [
        [
          {
            "node": "Merge Fundamentals And Social",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Log — Fundamentals Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Social Analyst Sub-workflow": {
      "main": [
        [
          {
            "node": "Merge Fundamentals And Social",
            "type": "main",
            "index": 1
          },
          {
            "node": "Push Log — Social Media Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Market And News": {
      "main": [
        [
          {
            "node": "Merge Analyst Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fundamentals And Social": {
      "main": [
        [
          {
            "node": "Merge Analyst Groups",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Analyst Groups": {
      "main": [
        [
          {
            "node": "Prepare Analyst Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analyst Context": {
      "main": [
        [
          {
            "node": "Call Bull Researcher Sub-workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Bear Researcher Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Bull Researcher Sub-workflow": {
      "main": [
        [
          {
            "node": "Merge Debate Reports",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Log — Bull Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Bear Researcher Sub-workflow": {
      "main": [
        [
          {
            "node": "Merge Debate Reports",
            "type": "main",
            "index": 1
          },
          {
            "node": "Push Log — Bear Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Debate Reports": {
      "main": [
        [
          {
            "node": "Prepare Debate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Debate Context": {
      "main": [
        [
          {
            "node": "Call Research Manager Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Research Manager Sub-workflow": {
      "main": [
        [
          {
            "node": "Prepare Manager Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Log — Research Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Manager Context": {
      "main": [
        [
          {
            "node": "Call Portfolio Manager Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Portfolio Manager Sub-workflow": {
      "main": [
        [
          {
            "node": "Format Supervisor Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eece35b0-43ce-49f2-b99d-e13f88b077eb",
  "activeVersionId": "eece35b0-43ce-49f2-b99d-e13f88b077eb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-01T16:31:02.684Z",
      "createdAt": "2026-05-01T16:31:02.684Z",
      "role": "workflow:owner",
      "workflowId": "UDRkHgYzqs3GBaat",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
