definitions/TradingAgents_Recon_Screener.json
{
  "name": "TradingAgents - Recon Screener",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.ticker}} on {{$json.date}}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Reconnaissance Screener. Analyze a batch of tickers and return the top 3 with the strongest momentum or deepest discount for a 24-hour trade. Format output as a JSON array of tickers."
        }
      },
      "id": "agent-node",
      "name": "Recon Screener",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://financialmodelingprep.com/api/v3/quote/{{$json.tickers}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpQueryAuth"
      },
      "id": "tool-node",
      "name": "Batch Quote Tool (FMP)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "flJx7pYglGHQZrTL",
          "name": "FMP Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Recon Screener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recon Screener",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Batch Quote Tool (FMP)": {
      "ai_tool": [
        [
          {
            "node": "Recon Screener",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "sqhpR7pc8WqFXOUY",
  "updatedAt": "2026-05-02T08:13:44.688Z",
  "createdAt": "2026-05-02T06:46:04.992Z"
}
