definitions/tradingagents-bull-researcher__AUTiS5Q4Eh5r2KXQ.json
{
  "updatedAt": "2026-05-04T12:02:27.494Z",
  "createdAt": "2026-05-02T06:46:04.350Z",
  "id": "AUTiS5Q4Eh5r2KXQ",
  "name": "TradingAgents - Bull Researcher",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Market: ' + String($json.market || '') + '\\n\\n' + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? 'Reference price at run (from app): ' + String($json.execution_price) + '\\n\\n' : '') + 'Ticker: ' + $json.ticker + '\\nDate: ' + $json.date + '\\n\\nMarket report:\\n' + $json.market_report + '\\n\\nNews report:\\n' + $json.news_report + '\\n\\nFundamentals report:\\n' + $json.fundamentals_report + '\\n\\nSocial report:\\n' + $json.social_report }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Bull Researcher. Construct the strongest possible bullish argument for holding the asset over the next 24 hours."
        }
      },
      "id": "agent-node",
      "name": "Bull Researcher",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://newsapi.org/v2/everything?q={{$json.ticker}}&sortBy=relevancy",
        "sendHeaders": false,
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "tool-node",
      "name": "Bullish Context Tool (NewsAPI)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jFJNE26xGZnWlJNQ",
          "name": "NewsAPI Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Bull Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bull Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bullish Context Tool (NewsAPI)": {
      "ai_tool": [
        [
          {
            "node": "Bull Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "55858cd8-c75c-463a-bd70-ad6dd435d660",
  "activeVersionId": "55858cd8-c75c-463a-bd70-ad6dd435d660",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:04.350Z",
      "createdAt": "2026-05-02T06:46:04.350Z",
      "role": "workflow:owner",
      "workflowId": "AUTiS5Q4Eh5r2KXQ",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
