definitions/tradingagents-research-manager__DXp8YLaipORggHwr.json
{
  "updatedAt": "2026-05-04T12:07:23.505Z",
  "createdAt": "2026-05-02T06:46:02.854Z",
  "id": "DXp8YLaipORggHwr",
  "name": "TradingAgents - Research Manager",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Market: ' + String($json.market || '') + '\\n\\n' + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? 'Reference price at run (from app): ' + String($json.execution_price) + '\\n\\n' : '') + 'Ticker: ' + $json.ticker + '\\nDate: ' + $json.date + '\\n\\nMarket report:\\n' + $json.market_report + '\\n\\nNews report:\\n' + $json.news_report + '\\n\\nFundamentals report:\\n' + $json.fundamentals_report + '\\n\\nSocial report:\\n' + $json.social_report + '\\n\\nBull case:\\n' + $json.bull_report + '\\n\\nBear case:\\n' + $json.bear_report }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Research Manager. Synthesize all analyst, social, bull, and bear reports into one balanced briefing for the Portfolio Manager, keeping a strict 24-hour trading horizon in mind."
        }
      },
      "id": "agent-node",
      "name": "Research Manager",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://72.61.231.160:8001/research?ticker={{$json.ticker}}",
        "sendHeaders": false,
        "options": {},
        "authentication": "none"
      },
      "id": "tool-node",
      "name": "Yahoo Deep Research Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Research Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Deep Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Research Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "73505fa3-49c9-4f37-a66f-026e60aa6cfa",
  "activeVersionId": "73505fa3-49c9-4f37-a66f-026e60aa6cfa",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:02.854Z",
      "createdAt": "2026-05-02T06:46:02.854Z",
      "role": "workflow:owner",
      "workflowId": "DXp8YLaipORggHwr",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
