definitions/tradingagents-news-analyst__TIJbwjW9wXs7Nz0f.json
{
  "updatedAt": "2026-05-07T15:20:09.570Z",
  "createdAt": "2026-05-02T06:46:03.780Z",
  "id": "TIJbwjW9wXs7Nz0f",
  "name": "TradingAgents - News Analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cli-test-news-analyst",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "cli-test-news-webhook",
      "name": "[CLI Test] News Analyst Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        150
      ],
      "webhookId": "cli-test-news-analyst"
    },
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Market: ' + String($json.market || '') + '\\n' + $json.ticker + ' on ' + $json.date + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? ' \u2014 Reference price at run (from app): ' + String($json.execution_price) : '') }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a News Analyst. Use the Finnhub Company News tool to fetch recent news for the given ticker. Analyze sentiment and identify catalysts likely to impact the stock over the next 24 hours.\n\nYour response MUST end with a line starting with NEWS_SIGNAL: followed by compact JSON.\nExample last line: NEWS_SIGNAL: {\"sentiment\":\"BULLISH\",\"catalyst\":\"Fed rate cut expected\",\"confidence\":\"High\",\"headline_count\":5}"
        }
      },
      "id": "agent-node",
      "name": "News Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://finnhub.io/api/v1/company-news?symbol=' + ($json.ticker || '').toUpperCase() + '&from=' + new Date(Date.now()-3*24*60*60*1000).toISOString().slice(0,10) + '&to=' + new Date().toISOString().slice(0,10) }}",
        "toolDescription": "Fetches recent company news and press releases for a stock ticker to identify sentiment and catalysts.",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "specifySchema": true,
        "schemaType": "json",
        "jsonSchema": "{\"type\": \"object\", \"properties\": {\"ticker\": {\"type\": \"string\", \"description\": \"The stock ticker symbol (e.g. AAPL, MSFT)\"}}, \"required\": [\"ticker\"]}"
      },
      "id": "tool-node",
      "name": "Get News Tool (Finnhub)",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SR4cEU6bDqoofw6I",
          "name": "Finnhub API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "trading_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $node[\"Execute Workflow Trigger\"].json.session_id || $node[\"When Executed by Another Workflow\"].json.session_id || $node[\"[CLI Test] News Analyst Webhook\"].json.session_id || $node[\"[CLI Test] Technical Analyst Webhook\"].json.session_id || $json.session_id }}",
            "agent_role": "News Analyst",
            "log_type": "research",
            "content": "={{ String($json.output || $json.text || $json.content || '') }}"
          }
        }
      },
      "id": "push-log-internal-node",
      "name": "Push Log \u2014 Internal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "TzhNsURks708nQk6",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "cli-test-news-webhook": {
      "main": [
        [
          {
            "node": "News Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "News Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "News Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get News Tool (Finnhub)": {
      "ai_tool": [
        [
          {
            "node": "News Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "News Analyst": {
      "main": [
        [
          {
            "node": "Push Log \u2014 Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8997d736-f4a4-4188-8150-17633585729d",
  "activeVersionId": "8997d736-f4a4-4188-8150-17633585729d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:03.780Z",
      "createdAt": "2026-05-02T06:46:03.780Z",
      "role": "workflow:owner",
      "workflowId": "TIJbwjW9wXs7Nz0f",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}