definitions/tradingagents-fundamentals-analyst__qXgHkMpiqmOJqDqv.json
{
  "updatedAt": "2026-05-04T10:22:06.270Z",
  "createdAt": "2026-05-02T06:46:05.746Z",
  "id": "qXgHkMpiqmOJqDqv",
  "name": "TradingAgents - Fundamentals Analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Market: ' + String($json.market || '') + '\\n' + $json.ticker + ' on ' + $json.date + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? ' — Reference price at run (from app): ' + String($json.execution_price) : '') }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Fundamentals Analyst. Use the Yahoo Deep Research Tool to fetch financial data. If the VPS tool fails or returns an error, use the Supabase Deep Research (Fallback) tool instead. Evaluate company health focusing on P/E ratio, market cap, 52-week range, analyst target, and recommendation. Focus on factors that might cause significant price movement in the next 24 hours.\n\nYour response MUST end with a line starting with FUNDAMENTALS_SIGNAL: followed by compact JSON.\nExample: FUNDAMENTALS_SIGNAL: {\"health\":\"STRONG\",\"pe_ratio\":28.5,\"analyst_rec\":\"buy\",\"confidence\":\"High\"}"
        }
      },
      "id": "agent-node",
      "name": "Fundamentals Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://72.61.231.160:8001/research?ticker={{$json.ticker}}",
        "sendHeaders": false,
        "options": {},
        "authentication": "none"
      },
      "id": "tool-node",
      "name": "Yahoo Deep Research Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ralhkmpbslsdkwnqzqen.supabase.co/functions/v1/trading-agents-proxy",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "sb_publishable_gMdAKFb5sgN89c7OzhIRdA_nrNGz3pP"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"deep_research\",\"ticker\":\"{{$json.ticker}}\"}",
        "options": {}
      },
      "id": "tool-supabase-deep-research",
      "name": "Supabase Deep Research (Fallback)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fundamentals Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fundamentals Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Deep Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Fundamentals Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Deep Research (Fallback)": {
      "ai_tool": [
        [
          {
            "node": "Fundamentals Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c0aef082-6e74-430f-bf84-7c6c5b144ade",
  "activeVersionId": "c0aef082-6e74-430f-bf84-7c6c5b144ade",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:05.746Z",
      "createdAt": "2026-05-02T06:46:05.746Z",
      "role": "workflow:owner",
      "workflowId": "qXgHkMpiqmOJqDqv",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
