definitions/tradingagents-market-analyst__YeGEiKF7ZndLF8YN.json
{
  "updatedAt": "2026-05-04T03:19:26.242Z",
  "createdAt": "2026-05-02T06:46:04.494Z",
  "id": "YeGEiKF7ZndLF8YN",
  "name": "TradingAgents - Market Analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticker + ' on ' + $json.date + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? ' — Reference price at run (from app): ' + String($json.execution_price) : '') }}",
        "options": {
          "systemMessage": "You are a Market Analyst. Review technical indicators and provide a technical rating for a short-term 24-hour hold."
        }
      },
      "id": "agent-node",
      "name": "Market Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        480,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.tiingo.com/tiingo/daily/{{$json.ticker}}/prices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "tool-node",
      "name": "Technical Indicator Tool (Tiingo)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        656,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jEo9N4yIEkuPj5Df",
          "name": "Tiingo Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Market Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Technical Indicator Tool (Tiingo)": {
      "ai_tool": [
        [
          {
            "node": "Market Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5ef17112-8baa-4a46-851f-79a9c4764340",
  "activeVersionId": "6648699b-ee89-403f-8e0c-38808ad4fb9c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:04.494Z",
      "createdAt": "2026-05-02T06:46:04.494Z",
      "role": "workflow:owner",
      "workflowId": "YeGEiKF7ZndLF8YN",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
