definitions/tradingagents-technical-analyst__YeGEiKF7ZndLF8YN.json
{
  "updatedAt": "2026-05-04T10:22:05.066Z",
  "createdAt": "2026-05-02T06:46:04.494Z",
  "id": "YeGEiKF7ZndLF8YN",
  "name": "TradingAgents - Technical Analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cli-test-technical-analyst",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "cli-test-technical-webhook",
      "name": "[CLI Test] Technical Analyst Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        40,
        304
      ],
      "webhookId": "cli-test-technical-analyst"
    },
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $json || {};\nconst root =\n  incoming.body && typeof incoming.body === 'object' && !Array.isArray(incoming.body)\n    ? { ...incoming, ...incoming.body }\n    : incoming;\nconst raw = String(root.ticker ?? '').trim();\nconst ticker = raw || 'UNKNOWN';\nconst date = String(root.date ?? '').trim() || new Date().toISOString().slice(0, 10);\nconst session_id = root.session_id ?? null;\nconst execution_price = root.execution_price;\n\nfunction parseCryptoPair(symbol) {\n  const s = symbol.toLowerCase().replace(/\\s+/g, '');\n  const m = /^([a-z0-9]{2,10})[\\/-]?usdt$/i.exec(s);\n  if (m) return { pair: (m[1] + 'usd').toLowerCase() };\n  const m2 = /^([a-z0-9]{2,10})[\\/-]?(usd|eur|gbp|jpy)$/i.exec(s);\n  if (m2) return { pair: (m2[1] + m2[2]).toLowerCase() };\n  if (/^(btc|eth|sol|xrp|doge|ada|bnb|avax)$/i.test(s)) return { pair: s.toLowerCase() + 'usd' };\n  return null;\n}\n\nfunction inferMarketFromTicker(sym) {\n  const s = String(sym || '').trim();\n  if (!s) return 'us';\n  const lo = s.toLowerCase();\n  if (lo.endsWith('.ns') || lo.endsWith('.bo')) return 'india';\n  if (parseCryptoPair(s)) return 'crypto';\n  return 'us';\n}\n\nlet market = String(root.market ?? '').trim().toLowerCase();\nif (market !== 'us' && market !== 'india' && market !== 'crypto') {\n  market = inferMarketFromTicker(raw);\n}\n\nconst technical_markers_context = [\n  '### Technical bundle (workflow-computed)',\n  'US equities (`market=us`): 5-minute IEX bars via Alpaca Market Data v2 (`feed=iex`, free paper tier). Indicators: RSI(14), MACD(12,26,9), EMA(9), EMA(21), ATR(14), VWAP over fetched window, rolling SMA over last 200 closes on that timeframe when available.',\n  'India / crypto: Tiingo daily OHLCV; same core indicators on daily closes; SMA(200) when history allows.',\n  'See `technical_metrics.timeframe`, `technical_metrics.source`, and numeric fields; do not invent values.'\n].join('\\n');\n\nfunction classifySymbol(symbol) {\n  if (!symbol || symbol === 'UNKNOWN') {\n    return {\n      asset_route: 'equity_eod',\n      tiingo_equity_ticker: 'UNKNOWN',\n      tiingo_crypto_tickers: null,\n      symbol_class: 'unknown',\n      symbol_routing_note: 'No ticker supplied.'\n    };\n  }\n  const crypto = parseCryptoPair(symbol);\n  if (crypto) {\n    return {\n      asset_route: 'crypto_eod',\n      tiingo_equity_ticker: null,\n      tiingo_crypto_tickers: crypto.pair,\n      symbol_class: 'crypto',\n      symbol_routing_note: 'Crypto: Tiingo daily crypto prices.'\n    };\n  }\n  const upper = symbol.toUpperCase();\n  if (/\\.NS$/i.test(symbol)) {\n    return {\n      asset_route: 'equity_eod',\n      tiingo_equity_ticker: upper,\n      tiingo_crypto_tickers: null,\n      symbol_class: 'india_nse',\n      symbol_routing_note: 'India NSE: Tiingo daily EOD.'\n    };\n  }\n  if (/\\.BO$/i.test(symbol)) {\n    return {\n      asset_route: 'equity_eod',\n      tiingo_equity_ticker: upper,\n      tiingo_crypto_tickers: null,\n      symbol_class: 'india_bse',\n      symbol_routing_note: 'India BSE: Tiingo daily EOD.'\n    };\n  }\n  const cleaned = upper.replace(/[^A-Z0-9.-]/g, '');\n  return {\n    asset_route: 'equity_eod',\n    tiingo_equity_ticker: cleaned || upper,\n    tiingo_crypto_tickers: null,\n    symbol_class: 'us_or_global_equity',\n    symbol_routing_note: 'US equity: intraday via Alpaca when market=us; Tiingo daily fallback.'\n  };\n}\n\nconst routed = classifySymbol(raw);\nconst note = routed.symbol_routing_note + ' Orchestrator market: ' + market + '.';\n\nconst end = new Date(date + 'T12:00:00Z');\nconst start = new Date(end);\nstart.setUTCDate(start.getUTCDate() - 320);\nconst fmt = (dt) => dt.toISOString().slice(0, 10);\nconst tiingo_start_date = fmt(start);\nconst tiingo_end_date = fmt(end);\n\nfunction buildQuery(params) {\n  const keys = Object.keys(params);\n  const out = [];\n  for (let i = 0; i < keys.length; i++) {\n    const k = keys[i];\n    const v = params[k];\n    if (v === undefined || v === null) continue;\n    out.push(encodeURIComponent(k) + '=' + encodeURIComponent(String(v)));\n  }\n  return out.join('&');\n}\n\nlet tiingo_full_prices_url = '';\nif (routed.asset_route === 'crypto_eod' && routed.tiingo_crypto_tickers) {\n  tiingo_full_prices_url = 'https://api.tiingo.com/tiingo/crypto/prices?' + buildQuery({\n    tickers: routed.tiingo_crypto_tickers,\n    resampleFreq: '1day',\n    startDate: tiingo_start_date,\n    endDate: tiingo_end_date\n  });\n} else {\n  const pathTicker = encodeURIComponent(routed.tiingo_equity_ticker || 'INVALID');\n  tiingo_full_prices_url = 'https://api.tiingo.com/tiingo/daily/' + pathTicker + '/prices?' + buildQuery({ startDate: tiingo_start_date, endDate: tiingo_end_date });\n}\n\nlet alpaca_bars_url = null;\nif (market === 'us' && routed.asset_route === 'equity_eod' && routed.tiingo_equity_ticker && routed.tiingo_equity_ticker !== 'UNKNOWN') {\n  const sym = routed.tiingo_equity_ticker;\n  const endDt = new Date(date + 'T23:59:59.999Z');\n  const startDt = new Date(endDt);\n  startDt.setUTCDate(startDt.getUTCDate() - 14);\n  const qs =\n    'timeframe=5Min&start=' +\n    encodeURIComponent(startDt.toISOString()) +\n    '&end=' +\n    encodeURIComponent(endDt.toISOString()) +\n    '&limit=500&feed=iex&sort=asc';\n  alpaca_bars_url = 'https://data.alpaca.markets/v2/stocks/' + encodeURIComponent(sym) + '/bars?' + qs;\n}\n\nreturn [{\n  json: {\n    ticker,\n    date,\n    session_id,\n    execution_price,\n    market,\n    technical_markers_context,\n    asset_route: routed.asset_route,\n    symbol_class: routed.symbol_class,\n    symbol_routing_note: note,\n    tiingo_equity_ticker: routed.tiingo_equity_ticker,\n    tiingo_crypto_tickers: routed.tiingo_crypto_tickers,\n    tiingo_start_date,\n    tiingo_end_date,\n    tiingo_full_prices_url,\n    alpaca_bars_url\n  }\n}];"
      },
      "id": "prepare-technical-context",
      "name": "Prepare Technical Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-market-us",
              "leftValue": "={{ $json.market }}",
              "rightValue": "us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "cond-alpaca-url",
              "leftValue": "={{ $json.alpaca_bars_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-us-alpaca-bars",
      "name": "US use Alpaca 5m?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Prepare Technical Context').first().json.alpaca_bars_url }}",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {}
      },
      "id": "alpaca-bars-fetch",
      "name": "Alpaca 5m Bars Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ],
      "credentials": {},
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-alpaca-bars-len",
              "leftValue": "={{ $json.bars ? $json.bars.length : 0 }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-alpaca-bars-usable",
      "name": "Alpaca bars usable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tiingo_full_prices_url }}",
        "authentication": "genericCredentialType",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "genericAuthType": "httpQueryAuth"
      },
      "id": "tiingo-http-fetch",
      "name": "Tiingo OHLCV Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        420
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "jEo9N4yIEkuPj5Df",
          "name": "Tiingo Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Prepare Technical Context').first().json.tiingo_full_prices_url }}",
        "authentication": "genericCredentialType",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "genericAuthType": "httpQueryAuth"
      },
      "id": "tiingo-http-fetch-alpaca-fallback",
      "name": "Tiingo OHLCV (Alpaca miss)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        360
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "jEo9N4yIEkuPj5Df",
          "name": "Tiingo Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Prepare Technical Context').first().json;\nconst raw = $input.first().json;\nif (raw && raw.error) {\n  const e = raw.error;\n  const msg = (e && (e.message || e.description)) ? String(e.message || e.description) : JSON.stringify(e);\n  return [{ json: { ...meta, technical_metrics: null, technical_metrics_error: 'OHLCV HTTP node error: ' + msg } }];\n}\nlet rows = raw;\nif (raw && raw.body !== undefined && raw.body !== null) {\n  rows = raw.body;\n}\n\nfunction normalizeCandlesFromTiingo(rawRows) {\n  let r = rawRows;\n  if (Array.isArray(r) && r.length && r[0] && Array.isArray(r[0].priceData)) {\n    r = r[0].priceData;\n  }\n  if (!Array.isArray(r)) return null;\n  return r\n    .map((row) => {\n      const d = row.date || row.Date;\n      const c = row.close !== undefined && row.close !== null ? row.close : (row.adjClose !== undefined ? row.adjClose : row.adj_close);\n      return {\n        date: d ? String(d).slice(0, 10) : '',\n        ts: d ? String(d) : '',\n        close: Number(c),\n        open: Number(row.open),\n        high: Number(row.high),\n        low: Number(row.low),\n        volume: Number(row.volume) || 0\n      };\n    })\n    .filter((x) => x.date && Number.isFinite(x.close))\n    .sort((a, b) => a.date.localeCompare(b.date));\n}\n\nfunction normalizeCandlesFromAlpaca(body) {\n  if (!body || !Array.isArray(body.bars)) return null;\n  return body.bars\n    .map((b) => ({\n      date: new Date(b.t).toISOString(),\n      ts: new Date(b.t).toISOString(),\n      close: Number(b.c),\n      open: Number(b.o),\n      high: Number(b.h),\n      low: Number(b.l),\n      volume: Number(b.v) || 0\n    }))\n    .filter((x) => Number.isFinite(x.close))\n    .sort((a, b) => a.ts.localeCompare(b.ts));\n}\n\nlet candles = normalizeCandlesFromAlpaca(rows);\nlet timeframe = '5m';\nlet source = 'alpaca_5m_iex_derived';\nfunction rowsLookTiingo(r) {\n  if (!r) return false;\n  if (Array.isArray(r) && r.length && typeof r[0] === 'object' && (r[0].date !== undefined || r[0].adjClose !== undefined || r[0].close !== undefined)) return true;\n  if (Array.isArray(r) && r.length && r[0] && Array.isArray(r[0].priceData)) return true;\n  return false;\n}\nif ((!candles || candles.length < 10) && rowsLookTiingo(rows)) {\n  candles = normalizeCandlesFromTiingo(rows);\n  timeframe = '1d';\n  source = 'tiingo_ohlcv_derived';\n}\n\nif (!candles || candles.length < 10) {\n  return [{ json: { ...meta, technical_metrics: null, technical_metrics_error: 'Insufficient OHLCV rows after parse' } }];\n}\n\nconst closes = candles.map((c) => c.close);\nconst highs = candles.map((c) => c.high);\nconst lows = candles.map((c) => c.low);\n\nfunction computeRSI(closes, period) {\n  if (closes.length < period + 1) return null;\n  let avgGain = 0;\n  let avgLoss = 0;\n  for (let i = 1; i <= period; i++) {\n    const change = closes[i] - closes[i - 1];\n    if (change > 0) avgGain += change;\n    else avgLoss -= change;\n  }\n  avgGain /= period;\n  avgLoss /= period;\n  for (let i = period + 1; i < closes.length; i++) {\n    const change = closes[i] - closes[i - 1];\n    const gain = change > 0 ? change : 0;\n    const loss = change < 0 ? -change : 0;\n    avgGain = (avgGain * (period - 1) + gain) / period;\n    avgLoss = (avgLoss * (period - 1) + loss) / period;\n  }\n  if (avgLoss === 0) return 100;\n  const rs = avgGain / avgLoss;\n  return 100 - 100 / (1 + rs);\n}\n\nfunction emaSeries(vals, span) {\n  const k = 2 / (span + 1);\n  const out = [];\n  let e = vals[0];\n  out.push(e);\n  for (let i = 1; i < vals.length; i++) {\n    e = vals[i] * k + e * (1 - k);\n    out.push(e);\n  }\n  return out;\n}\n\nfunction atr14(highs, lows, closes) {\n  if (highs.length < 15) return null;\n  const trs = [];\n  for (let i = 0; i < highs.length; i++) {\n    if (i === 0) {\n      trs.push(highs[0] - lows[0]);\n      continue;\n    }\n    const hl = highs[i] - lows[i];\n    const hc = Math.abs(highs[i] - closes[i - 1]);\n    const lc = Math.abs(lows[i] - closes[i - 1]);\n    trs.push(Math.max(hl, hc, lc));\n  }\n  let atr = trs.slice(0, 14).reduce((a, b) => a + b, 0) / 14;\n  for (let i = 14; i < trs.length; i++) {\n    atr = (atr * 13 + trs[i]) / 14;\n  }\n  return atr;\n}\n\nfunction vwapWindow(candles) {\n  let pv = 0;\n  let vol = 0;\n  for (const c of candles) {\n    const tp = (c.high + c.low + c.close) / 3;\n    const v = c.volume || 0;\n    pv += tp * v;\n    vol += v;\n  }\n  return vol > 0 ? pv / vol : null;\n}\n\nconst rsi14 = computeRSI(closes, 14);\nconst ema12 = emaSeries(closes, 12);\nconst ema26 = emaSeries(closes, 26);\nconst macdLine = ema12.map((v, i) => v - ema26[i]);\nconst macdSignalArr = emaSeries(macdLine, 9);\nconst last = closes.length - 1;\nconst macd_line = macdLine[last];\nconst macd_signal = macdSignalArr[last];\nconst macd_histogram = macd_line - macd_signal;\n\nconst ema9s = emaSeries(closes, 9);\nconst ema21s = emaSeries(closes, 21);\n\nconst win200 = closes.slice(-200);\nconst sma200 = win200.length >= 200 ? win200.reduce((a, b) => a + b, 0) / 200 : null;\n\nconst technical_metrics = {\n  timeframe,\n  source,\n  rsi14: rsi14 != null ? Math.round(rsi14 * 100) / 100 : null,\n  macd_line: Math.round(macd_line * 10000) / 10000,\n  macd_signal: Math.round(macd_signal * 10000) / 10000,\n  macd_histogram: Math.round(macd_histogram * 10000) / 10000,\n  ema9: Math.round(ema9s[last] * 10000) / 10000,\n  ema21: Math.round(ema21s[last] * 10000) / 10000,\n  atr14: atr14(highs, lows, closes) != null ? Math.round(atr14(highs, lows, closes) * 10000) / 10000 : null,\n  vwap_window: vwapWindow(candles) != null ? Math.round(vwapWindow(candles) * 10000) / 10000 : null,\n  sma200: sma200 != null ? Math.round(sma200 * 10000) / 10000 : null,\n  last_close: Math.round(closes[last] * 10000) / 10000,\n  as_of: candles[last] ? candles[last].ts || candles[last].date : meta.date,\n  bars_used: closes.length\n};\n\nreturn [{ json: { ...meta, technical_metrics } }];"
      },
      "id": "compute-technical-metrics",
      "name": "Compute Technical Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Market: ' + ($json.market || '') + '\\nTicker: ' + $json.ticker + ' on ' + $json.date + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? ' — Reference price at run (from app): ' + String($json.execution_price) : '') + '\\n\\n' + ($json.symbol_routing_note || '') + '\\n\\nPrecomputed technical_metrics (see timeframe + source in JSON):\\n' + JSON.stringify($json.technical_metrics || ($json.technical_metrics_error ? { error: $json.technical_metrics_error } : null), null, 2) }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "={{ [\n  'You are a Technical Analyst. Indicators are precomputed in the workflow from either Alpaca 5-minute IEX bars (US) or Tiingo daily OHLCV (India/crypto). Read technical_metrics.timeframe and technical_metrics.source.',\n  ($json.technical_markers_context || ''),\n  '',\n  '### Instructions',\n  '- Anchor on RSI14, MACD, EMA9/EMA21, ATR14, vwap_window, last_close, and execution_price when provided.',\n  '- sma200 is rolling on the same bar series (200 daily bars or 200 5m bars when available); interpret accordingly.',\n  '- If technical_metrics is null or partial, explain gaps; never fabricate.',\n  '- Give a clear BULLISH / NEUTRAL / BEARISH signal verdict with 3-5 metric-backed bullets.',\n  '- Your response MUST end with a line starting with SIGNAL_JSON: followed by compact JSON.',\n  'Example last line: SIGNAL_JSON: {\\\"signal\\\":\\\"BULLISH\\\",\\\"rsi14\\\":55.2,\\\"macd_histogram\\\":0.12,\\\"ema_trend\\\":\\\"above\\\",\\\"confidence\\\":\\\"High\\\"}'\n].join('\\n') }}"
        }
      },
      "id": "agent-node",
      "name": "Technical Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1000,
        304
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        968,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Compute Technical Metrics').first().json;\nconst agentOutput = $json.output || $json.text || $json.content || '';\n\n// Extract structured signal from SIGNAL_JSON: line\nlet structuredSignal = null;\nconst lines = agentOutput.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed.startsWith('SIGNAL_JSON:')) {\n    try {\n      structuredSignal = JSON.parse(trimmed.replace('SIGNAL_JSON:', '').trim());\n      break;\n    } catch (_) {}\n  }\n}\n\n// Fallback: infer from text sentiment\nif (!structuredSignal) {\n  const lower = agentOutput.toLowerCase();\n  const signal = lower.includes('bullish') ? 'BULLISH' : lower.includes('bearish') ? 'BEARISH' : 'NEUTRAL';\n  structuredSignal = { signal, confidence: 'Low' };\n}\n\nconst tm = meta.technical_metrics || {};\nconst technical_summary = {\n  signal: structuredSignal.signal || 'NEUTRAL',\n  confidence: structuredSignal.confidence || 'Low',\n  rsi14: structuredSignal.rsi14 ?? tm.rsi14 ?? null,\n  macd_histogram: structuredSignal.macd_histogram ?? tm.macd_histogram ?? null,\n  ema9: tm.ema9 ?? null,\n  ema21: tm.ema21 ?? null,\n  sma200: tm.sma200 ?? null,\n  atr14: tm.atr14 ?? null,\n  last_close: tm.last_close ?? null,\n  timeframe: tm.timeframe || '1d',\n  source: tm.source || 'unknown',\n  bars_used: tm.bars_used ?? null,\n  ema_trend: structuredSignal.ema_trend ?? ((tm.ema9 && tm.ema21) ? (tm.ema9 > tm.ema21 ? 'above' : 'below') : 'flat')\n};\n\n// Strip the SIGNAL_JSON line from prose output\nconst cleanOutput = lines.filter(l => !l.trim().startsWith('SIGNAL_JSON:')).join('\\n').trim();\n\nreturn [{ json: {\n  output: cleanOutput + '\\n\\nTECHNICAL_SUMMARY: ' + JSON.stringify(technical_summary),\n  technical_summary,\n  ticker: meta.ticker,\n  date: meta.date,\n  session_id: meta.session_id,\n  market: meta.market\n} }];"
      },
      "id": "format-technical-output",
      "name": "Format Technical Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ]
    }
  ],
  "connections": {
    "[CLI Test] Technical Analyst Webhook": {
      "main": [
        [
          {
            "node": "Prepare Technical Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Technical Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Technical Context": {
      "main": [
        [
          {
            "node": "US use Alpaca 5m?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US use Alpaca 5m?": {
      "main": [
        [
          {
            "node": "Alpaca 5m Bars Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tiingo OHLCV Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca 5m Bars Fetch": {
      "main": [
        [
          {
            "node": "Alpaca bars usable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca bars usable?": {
      "main": [
        [
          {
            "node": "Compute Technical Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tiingo OHLCV (Alpaca miss)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiingo OHLCV Fetch": {
      "main": [
        [
          {
            "node": "Compute Technical Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiingo OHLCV (Alpaca miss)": {
      "main": [
        [
          {
            "node": "Compute Technical Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Technical Metrics": {
      "main": [
        [
          {
            "node": "Technical Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analyst": {
      "main": [
        [
          {
            "node": "Format Technical Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ticker": "AAPL",
          "date": "2026-05-01",
          "session_id": "00000000-0000-0000-0000-000000000001",
          "execution_price": 198.5,
          "market": "us"
        }
      }
    ]
  },
  "versionId": "5ef17112-8baa-4a46-851f-79a9c4764340",
  "activeVersionId": "6648699b-ee89-403f-8e0c-38808ad4fb9c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:04.494Z",
      "createdAt": "2026-05-02T06:46:04.494Z",
      "role": "workflow:owner",
      "workflowId": "YeGEiKF7ZndLF8YN",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
