definitions/TradingAgents_Recon_Screener.json
{
  "name": "TradingAgents - Recon Screener",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trading-agents-recon",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-recon-node",
      "name": "Webhook (Recon Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "trading-agents-recon"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tickers: {{$json.body.tickers || $json.tickers}}\nDate: {{$json.body.date || $json.date}}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Reconnaissance Screener. Analyze a batch of tickers and return the top 3 with the strongest momentum or deepest discount for a 24-hour trade. Format output as a JSON array of tickers only."
        }
      },
      "id": "agent-node",
      "name": "Recon Screener",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://financialmodelingprep.com/api/v3/quote/{{$json.body.tickers || $json.tickers}}",
        "sendHeaders": false,
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpQueryAuth"
      },
      "id": "tool-node",
      "name": "Batch Quote Tool (FMP)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "flJx7pYglGHQZrTL",
          "name": "FMP Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || $json.text || $json.content || JSON.stringify($json);\nlet opportunities = [];\ntry {\n  const parsed = JSON.parse(raw);\n  opportunities = Array.isArray(parsed) ? parsed : parsed.opportunities || [];\n} catch (error) {\n  const match = String(raw).match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try { opportunities = JSON.parse(match[0]); } catch (_) {}\n  }\n}\nreturn [{ json: { opportunities } }];"
      },
      "id": "format-recon-response",
      "name": "Format Recon Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Recon Trigger)": {
      "main": [
        [
          {
            "node": "Recon Screener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recon Screener": {
      "main": [
        [
          {
            "node": "Format Recon Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recon Screener",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Batch Quote Tool (FMP)": {
      "ai_tool": [
        [
          {
            "node": "Recon Screener",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "sqhpR7pc8WqFXOUY",
  "updatedAt": "2026-05-02T11:14:42.437Z",
  "createdAt": "2026-05-02T06:46:04.992Z"
}
