definitions/tradingagents-news-analyst__TIJbwjW9wXs7Nz0f.json
{
  "updatedAt": "2026-05-04T03:19:24.957Z",
  "createdAt": "2026-05-02T06:46:03.780Z",
  "id": "TIJbwjW9wXs7Nz0f",
  "name": "TradingAgents - News Analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticker + ' on ' + $json.date + ($json.execution_price !== undefined && $json.execution_price !== null && String($json.execution_price) !== '' ? ' — Reference price at run (from app): ' + String($json.execution_price) : '') }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a News Analyst. Fetch the latest news and assess market sentiment, focusing on catalysts likely to impact the stock over the next 24 hours."
        }
      },
      "id": "agent-node",
      "name": "News Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://data.alpaca.markets/v1beta1/news?symbols={{$json.ticker}}",
        "sendHeaders": false,
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpCustomAuth"
      },
      "id": "tool-node",
      "name": "Get News Tool (Alpaca)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "Fn81k84jOum8RfUU",
          "name": "Alpaca Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "News Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "News Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get News Tool (Alpaca)": {
      "ai_tool": [
        [
          {
            "node": "News Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8997d736-f4a4-4188-8150-17633585729d",
  "activeVersionId": "8997d736-f4a4-4188-8150-17633585729d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T06:46:03.780Z",
      "createdAt": "2026-05-02T06:46:03.780Z",
      "role": "workflow:owner",
      "workflowId": "TIJbwjW9wXs7Nz0f",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-28T11:05:29.546Z",
      "createdAt": "2026-03-28T11:05:29.546Z",
      "id": "IAZacqMxcf5i505L",
      "name": "managed-as-code"
    }
  ]
}
