definitions/TradingAgents_Bear_Researcher.json
{
  "name": "TradingAgents - Bear Researcher",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.ticker}} on {{$json.date}}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a Bear Researcher. Construct the strongest possible bearish argument against holding the asset over the next 24 hours."
        }
      },
      "id": "agent-node",
      "name": "Bear Researcher",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://eodhd.com/api/news?s={{$json.ticker}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpQueryAuth"
      },
      "id": "tool-node",
      "name": "Bearish Context Tool (EODHD)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "jNeJqu0SLOpdQKgH",
          "name": "EODHD Key"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Bear Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bear Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bearish Context Tool (EODHD)": {
      "ai_tool": [
        [
          {
            "node": "Bear Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "IgQ0ooBfvg4oPsST",
  "updatedAt": "2026-05-02T08:13:43.023Z",
  "createdAt": "2026-05-02T06:46:02.639Z"
}
