definitions/webhook-terst__Q5DV7iUiyma3Kque.json
{
  "updatedAt": "2025-12-18T11:29:58.459Z",
  "createdAt": "2025-12-14T12:21:36.451Z",
  "id": "Q5DV7iUiyma3Kque",
  "name": "Webhook Terst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "508b358c-750f-4c20-88c3-189fe9289285",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        0
      ],
      "id": "a2adca93-29ed-4a19-9865-7cd3fbafc436",
      "name": "Webhook",
      "webhookId": "508b358c-750f-4c20-88c3-189fe9289285"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>User Narrative</title>\n    <!-- Premium Serif and Sans-Serif Fonts -->\n    <link href=\"https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,400&family=Montserrat:wght@300;400&display=swap\" rel=\"stylesheet\">\n    <style>\n        :root {\n            --bg-color: #fdfbf7; /* Soft paper tint */\n            --text-main: #1a1a1a;\n            --text-secondary: #5e5e5e;\n            --border-color: #d1d1d1;\n            --accent-color: #8c7851; /* Muted gold/bronze */\n        }\n\n        body {\n            margin: 0;\n            padding: 0;\n            background-color: var(--bg-color);\n            color: var(--text-main);\n            font-family: 'Cormorant Garamond', serif;\n            display: flex;\n            justify-content: center;\n            min-height: 100vh;\n        }\n\n        .main-container {\n            max-width: 800px;\n            width: 90%;\n            margin: 80px 0;\n            padding: 60px;\n            border: 1px solid var(--border-color);\n            position: relative;\n        }\n\n        /* The thin frame effect */\n        .main-container::before {\n            content: \"\";\n            position: absolute;\n            top: 10px;\n            left: 10px;\n            right: 10px;\n            bottom: 10px;\n            border: 1px solid var(--border-color);\n            pointer-events: none;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            position: relative;\n        }\n\n        .pre-title {\n            font-family: 'Montserrat', sans-serif;\n            text-transform: uppercase;\n            letter-spacing: 5px;\n            font-size: 0.7rem;\n            color: var(--accent-color);\n            display: block;\n            margin-bottom: 15px;\n        }\n\n        .greeting {\n            font-size: clamp(2.5rem, 5vw, 4rem);\n            font-weight: 300;\n            margin: 0;\n            line-height: 1.1;\n            font-style: italic;\n        }\n\n        .divider {\n            width: 60px;\n            height: 1px;\n            background: var(--accent-color);\n            margin: 40px auto;\n        }\n\n        .story-content {\n            font-size: 1.4rem;\n            line-height: 1.8;\n            color: var(--text-main);\n            text-align: justify;\n            max-width: 600px;\n            margin: 0 auto;\n            /* Respects paragraphs and spacing from backend */\n            white-space: pre-wrap;\n        }\n\n        /* Elegant Drop Cap */\n        .story-content::first-letter {\n            float: left;\n            font-size: 4.5rem;\n            line-height: 1;\n            padding-right: 15px;\n            padding-top: 5px;\n            font-weight: 600;\n            color: var(--text-main);\n        }\n\n        footer {\n            margin-top: 60px;\n            text-align: center;\n            font-family: 'Montserrat', sans-serif;\n            font-size: 0.65rem;\n            letter-spacing: 3px;\n            text-transform: uppercase;\n            color: var(--text-secondary);\n        }\n\n        @media (max-width: 600px) {\n            .main-container {\n                padding: 30px 20px;\n                margin: 20px 0;\n            }\n            .story-content {\n                font-size: 1.2rem;\n                text-align: left;\n            }\n        }\n    </style>\n</head>\n<body>\n\n    <main class=\"main-container\">\n        <header>\n            <span class=\"pre-title\">A Personal Account</span>\n            <!-- Backend Variable: name -->\n            <h1 class=\"greeting\">Welcome, {{ $('Webhook').item.json.query.FirstName }}</h1>\n            <div class=\"divider\"></div>\n        </header>\n\n        <article>\n            <!-- Backend Variable: story -->\n            <div class=\"story-content\">\n{{ $json.output.content }}\n            </div>\n        </article>\n\n        <footer>\n            MCMXXIV &bull; Private Collection\n        </footer>\n    </main>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        0
      ],
      "id": "c508e4fe-3383-474e-a4a7-ea08597cde96",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short 50 word story about the adventures of  {{ $('Webhook').item.json.query.FirstName }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -240,
        0
      ],
      "id": "63955949-95df-4c2c-a27b-b3fb16d9e8d6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        304
      ],
      "id": "901504ad-2042-480f-83da-c24ab1a304c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F8K5WXRWzmnY0vcZ",
          "name": "Saksham OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"The Little Robot's Flower\",\n  \"genre\": \"Children's Sci-Fi\",\n  \"content\": \"In a city made of chrome, a small robot named Beep found a single dandelion growing through a crack in the pavement. While the other robots built skyscrapers, Beep spent his days shielding the flower from the acid rain. Eventually, the flower turned into a seed puff, and Beep realized he hadn't just saved one flower, but a whole future garden.\",\n  \"word_count\": 63\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -112,
        208
      ],
      "id": "524ae404-1b27-4424-b9b8-4109dbd5116f",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "25837970-f293-4c25-9694-e78aea7fb255",
  "activeVersionId": "25837970-f293-4c25-9694-e78aea7fb255",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-14T12:21:36.451Z",
      "createdAt": "2025-12-14T12:21:36.451Z",
      "role": "workflow:owner",
      "workflowId": "Q5DV7iUiyma3Kque",
      "projectId": "ndLqkF3n8R5kDVa5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-18T11:30:05.849Z",
    "createdAt": "2025-12-18T11:29:58.462Z",
    "versionId": "25837970-f293-4c25-9694-e78aea7fb255",
    "workflowId": "Q5DV7iUiyma3Kque",
    "nodes": [
      {
        "parameters": {
          "path": "508b358c-750f-4c20-88c3-189fe9289285",
          "responseMode": "responseNode",
          "options": {
            "ignoreBots": true
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -528,
          0
        ],
        "id": "a2adca93-29ed-4a19-9865-7cd3fbafc436",
        "name": "Webhook",
        "webhookId": "508b358c-750f-4c20-88c3-189fe9289285"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>User Narrative</title>\n    <!-- Premium Serif and Sans-Serif Fonts -->\n    <link href=\"https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,400&family=Montserrat:wght@300;400&display=swap\" rel=\"stylesheet\">\n    <style>\n        :root {\n            --bg-color: #fdfbf7; /* Soft paper tint */\n            --text-main: #1a1a1a;\n            --text-secondary: #5e5e5e;\n            --border-color: #d1d1d1;\n            --accent-color: #8c7851; /* Muted gold/bronze */\n        }\n\n        body {\n            margin: 0;\n            padding: 0;\n            background-color: var(--bg-color);\n            color: var(--text-main);\n            font-family: 'Cormorant Garamond', serif;\n            display: flex;\n            justify-content: center;\n            min-height: 100vh;\n        }\n\n        .main-container {\n            max-width: 800px;\n            width: 90%;\n            margin: 80px 0;\n            padding: 60px;\n            border: 1px solid var(--border-color);\n            position: relative;\n        }\n\n        /* The thin frame effect */\n        .main-container::before {\n            content: \"\";\n            position: absolute;\n            top: 10px;\n            left: 10px;\n            right: 10px;\n            bottom: 10px;\n            border: 1px solid var(--border-color);\n            pointer-events: none;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            position: relative;\n        }\n\n        .pre-title {\n            font-family: 'Montserrat', sans-serif;\n            text-transform: uppercase;\n            letter-spacing: 5px;\n            font-size: 0.7rem;\n            color: var(--accent-color);\n            display: block;\n            margin-bottom: 15px;\n        }\n\n        .greeting {\n            font-size: clamp(2.5rem, 5vw, 4rem);\n            font-weight: 300;\n            margin: 0;\n            line-height: 1.1;\n            font-style: italic;\n        }\n\n        .divider {\n            width: 60px;\n            height: 1px;\n            background: var(--accent-color);\n            margin: 40px auto;\n        }\n\n        .story-content {\n            font-size: 1.4rem;\n            line-height: 1.8;\n            color: var(--text-main);\n            text-align: justify;\n            max-width: 600px;\n            margin: 0 auto;\n            /* Respects paragraphs and spacing from backend */\n            white-space: pre-wrap;\n        }\n\n        /* Elegant Drop Cap */\n        .story-content::first-letter {\n            float: left;\n            font-size: 4.5rem;\n            line-height: 1;\n            padding-right: 15px;\n            padding-top: 5px;\n            font-weight: 600;\n            color: var(--text-main);\n        }\n\n        footer {\n            margin-top: 60px;\n            text-align: center;\n            font-family: 'Montserrat', sans-serif;\n            font-size: 0.65rem;\n            letter-spacing: 3px;\n            text-transform: uppercase;\n            color: var(--text-secondary);\n        }\n\n        @media (max-width: 600px) {\n            .main-container {\n                padding: 30px 20px;\n                margin: 20px 0;\n            }\n            .story-content {\n                font-size: 1.2rem;\n                text-align: left;\n            }\n        }\n    </style>\n</head>\n<body>\n\n    <main class=\"main-container\">\n        <header>\n            <span class=\"pre-title\">A Personal Account</span>\n            <!-- Backend Variable: name -->\n            <h1 class=\"greeting\">Welcome, {{ $('Webhook').item.json.query.FirstName }}</h1>\n            <div class=\"divider\"></div>\n        </header>\n\n        <article>\n            <!-- Backend Variable: story -->\n            <div class=\"story-content\">\n{{ $json.output.content }}\n            </div>\n        </article>\n\n        <footer>\n            MCMXXIV &bull; Private Collection\n        </footer>\n    </main>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          144,
          0
        ],
        "id": "c508e4fe-3383-474e-a4a7-ea08597cde96",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Write a short 50 word story about the adventures of  {{ $('Webhook').item.json.query.FirstName }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -240,
          0
        ],
        "id": "63955949-95df-4c2c-a27b-b3fb16d9e8d6",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini-2025-04-14",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini-2025-04-14"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -272,
          304
        ],
        "id": "901504ad-2042-480f-83da-c24ab1a304c6",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "F8K5WXRWzmnY0vcZ",
            "name": "Saksham OpenAI Account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"title\": \"The Little Robot's Flower\",\n  \"genre\": \"Children's Sci-Fi\",\n  \"content\": \"In a city made of chrome, a small robot named Beep found a single dandelion growing through a crack in the pavement. While the other robots built skyscrapers, Beep spent his days shielding the flower from the acid rain. Eventually, the flower turned into a seed puff, and Beep realized he hadn't just saved one flower, but a whole future garden.\",\n  \"word_count\": 63\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -112,
          208
        ],
        "id": "524ae404-1b27-4424-b9b8-4109dbd5116f",
        "name": "Structured Output Parser"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Saksham Agrawal",
    "name": "Version 0.3",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-12-14T15:33:32.742Z",
      "createdAt": "2025-12-14T15:33:32.742Z",
      "id": "dowhSEz7Kg61JxrP",
      "name": "Product Portfolio"
    },
    {
      "updatedAt": "2025-12-14T15:33:41.492Z",
      "createdAt": "2025-12-14T15:33:41.492Z",
      "id": "3S8y4ELDYElHJs5G",
      "name": "Insights LM"
    }
  ]
}
